{% extends "modules/admin/index.html" %}
{% block head %}
    <title>User update</title>
{% endblock %}
{% block content_admin %}
<h2>{{ g.users.update_user }}</h2>
<form action="{{ url_for('users.update', _id=_id) }}" enctype="multipart/form-data" method="post" >
    <ul class="nav nav-tabs">
        <li class="li_account active">
            <a>Account</a>
        </li>
        <li class="li_profile">
            <a>{{ g.admin.profile }}</a>
        </li>
        <li class="li_password">
            <a>Password</a>
        </li>
    </ul>
    {% if status %}<div class="{{ status }}"><a class="close">×</a>{{ message }}</div>{% endif %}
    <div class="form-horizontal">
        <fieldset>
            <section class="sec_account">
                {% include "modules/users/account.html" %}
            </section>
            <section class="sec_profile">
                {% include "modules/users/upload_image.html" %}
                {% include "modules/users/profile.html" %}
            </section>
            <section class="sec_password">
                <div class="control-group">
                    <label>Nuova Password</label>
                    <div class="controls">
                        <input type="password" name="password_new" value="" tabindex="3" maxlength="20" />
                    </div>
                </div>
                <div class="control-group">
                    <label>Nuova {{ g.users.check_password }}</label>
                    <div class="controls">
                        <input type="password" name="password_check" value="" tabindex="4" maxlength="20" />
                    </div>
                </div>
            </section>
            <div class="form-actions">
                <button tabindex="200" type="submit" class="button button-submit">{{ g.admin.save }}</button>
            </div>
        </fieldset>
    </div><!-- .form-horizontal -->
</form>
{% endblock %}

{% block js_module_files %}
<script src="{{ '/static/js/%s' % js_version['users'] }}"></script>
{% endblock %}

{% block js_code %}
<script type="text/javascript">
    t.get(d).ready(function() {
        b.users.init();
    })
</script>
{% endblock %}