@import "compass";

/* Thumbnails ============================================================================== */

.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
  &:before {
    display: table;
    content: ""; }
  &:after {
    display: table;
    content: "";
    clear: both; } }

.thumbnail {
  display: block;
  padding: 3px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); }

a.thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25); }

.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

/* Content ================================================================================= */

.box {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  font-weight: normal;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

/* Hash Table ============================================================================== */
.hash_table_tools {
  .legend {
    border-bottom: 1px solid #dedede;
    span {
      display: inline-block;
      &:first-child {
        display: inline-block;
        margin: 0 4px 0 0; 
      } 
    } 
  }
  .form-actions {
    background-color: #F5F5F5;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 18px;
    margin-top: 18px;
    padding: 17px 20px 18px; 
  }
  .help-block {
    margin-top: 49px;
    margin-left: 187px;
    margin-bottom: 0;
    width: 49%;
  }
}

.hash_add_label {
  margin-left: 20px; 
}

.hash_remove_label {
  float: right !important;
  padding: 0; 
}

/* Pages =================================================================================== */

.pages_table_tools {
  .legend {
    border-bottom: 1px solid #dedede;
    span {
      display: inline-block;
      &:first-child {
        display: inline-block;
        margin: 0 4px 0 0; } } }
  .input-little {
    margin: 0 18px 0 2px; } }

.pages_add_label {
  margin-left: 20px; }

.pages_table_tools {
  .pages_remove_label {
    float: right;
    margin: 0 21px 0 0;
    padding: 0; }
  .form-actions {
    background-color: #F5F5F5;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 18px;
    margin-top: 18px;
    padding: 17px 20px 18px; }
  .pages_tool {
    margin: 10px 0 0 0;
    display: none; 
    &.show {
      display: inherit;
    }
  }
  .pages_field {
    select {
      float: right;
      margin: 10px 21px 0 0;
      width: 14.8936%; }
    .control-group {
      border-right: 3px solid #DDDDDD;
      padding: 0 0 0 2px;
      width: 99.9%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; 
    } 
    .help-block {
      margin-top: 0;
      margin-left: 2px;
      margin-bottom: 0;
      width: 75%;
      display: inline-block;
    }
  } 
}

.label_pages {
  margin-bottom: 20px; }

.pages_table_tools .control-group input {
  margin-bottom: 0; }

/* Settings ================================================================================ */

.settings, .content_right {
  background-color: #FCFCFC;
  border: 1px solid #DEDEDE;
  padding: 5px 10px;
  width: 97%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.settings .form-actions {
  background-color: #F5F5F5;
  border-top: 1px solid #DDDDDD;
  margin-bottom: 18px;
  margin-top: 18px;
  padding: 17px 20px 18px 130px; }


