{% extends "modules/admin/index.html" %}

{% block title %} {{ g.rank.title }} {% endblock %}
{% block description %} {{ g.rank.description }} {% endblock %}

{% block nav_active_3 %}class="active"{% endblock %}

{% block content_admin %}
    <h2>{{ g.rank.name }}</h2>
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th style="width:60%;">Name</th>
                <th style="width:20%;">Type permit</th>
                <th style="width:20%;">Number user</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3"></td>
            </tr>
        </tfoot>
        <tbody>
            {% for i, rank in enumerate(list_ranks) %}
            <tr>
                <td>{{ rank['name'] }}</td>
                <td>{{ int(rank['rank']) }}</td>
                <td>{{ number_user[rank['rank']] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
