{% extends "modules/admin/index.html" %}
{% block title %} {{ g.rank.title }} {% endblock %}
{% block description %} {{ g.rank.description }} {% endblock %}
{% block content %}
    <h2>{{ g.rank.name }}</h2>
    <br />
    <table class="table_items">
    	<thead>
    		<tr>	
    			<th style="width:60%;">Name</th>
    			<th style="width:20%;">Type permit</th>
    			<th style="width:20%;">Number user</th>
    		</tr>
    	</thead>
    	<tfoot>
    		<tr>
    			<td colspan="1"></td>
    		</tr>
    	</tfoot>
    	<tbody>
    		{% for i, rank in enumerate(list_ranks) %}
    		<tr class="{% if i % 2 == 1 %}gray{% endif %}">
    		    <td>{{ rank['name'] }}</td>
    			<td>{{ rank['rank'] }}</td>
    			<td>{{ number_user[str(rank['rank'])] }}</td>
    		</tr>
    		{% endfor %}
    	</tbody>
    </table>
{% endblock %}
