{% extends "modules/admin/index.html" %}
{% block title %} {{ g.rank.title }} {% endblock %}
{% block description %} {{ g.rank.description }} {% endblock %}
{% block content %}
    <h2>{{ g.rank.name }}</h2>
    <br />
    {% for rank in sorted(list_ranks) %}
    <h3>{{ rank['name'] }}</h3>
    <table class="table_items">
    	<thead>
    		<tr>	
    			<th style="width:20%;"></th>
    			<th style="width:80%;">Permit</th>
    		</tr>
    	</thead>
    	<tfoot>
    		<tr>
    			<td colspan="2"></td>
    		</tr>
    	</tfoot>
    	<tbody>
    		{% for i, permit in enumerate(sorted(list_permits.iteritems())) %}
    		    {% for name in sorted(permit[1]) %}
    		    <tr class="{% if i % 2 == 1 %}gray{% endif %}">
        		    <td>
        		        <input type="checkbox" name="{{ language['code'] }}" >
        		    </td>
        			<td>{{ permit[0]+'  '+name }}</td>
        		</tr>
        		{% endfor %}
    		{% endfor %}
    	</tbody>
    </table>
    <br />
    {% endfor %}
{% endblock %}
