{% extends "modules/admin/index.html" %}
{% block head %}
    <title>User profile</title>
{% endblock %}
{% block content %}
    <h2>Pages content</h2>
    <form action="{{ url_for('rank.update', _id=_id) }}" enctype="multipart/form-data" method="post" >
        {% if status %}<div class="{{ status }}">{{ message }}</div>{% endif %}
       
        <div>
            <button tabindex="200" type="submit" class="button button-submit">{{ g.admin.save }}</button>
        </div>
    </form>
{% endblock %}