# Compiled files
*.pyc

# OSX sucks
.DS_Store

# Eclipse & PyDev stuff
.project
.pydevproject
.settings

# Sass
.sass-cache
~           

# fabfile caches
.coffeecache
.minifycache

# Node
node_modules
npm-debug.log

# Bower
static/components/
