@import "compass";

/* Header ================================================================================== */
header {
  overflow: visible;
  margin-bottom: 18px;
  background-color: #584838;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5a493f), to(#584838));
  background-image: -webkit-linear-gradient(top, #5a493f, #584838);
  background-image: -moz-linear-gradient(top, #5a493f, #584838);
  background-image: -ms-linear-gradient(top, #5a493f, #584838);
  background-image: -o-linear-gradient(top, #5a493f, #584838);
  background-image: linear-gradient(top, #5a493f, #584838);
  border-bottom: 1px solid #dedede;
  border-top: 2px solid #E7A86B;
  height: 32px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  nav {
    margin: 0 auto;
    width: 940px;
    .intro li {
      float: left;
      margin: 3px 0 0 3px;
      padding: 0 0 0 10px; } } }

.btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    background-color: #222222; }
  &:active, &.active {
    background-color: #080808 \9; }
  .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #f5f5f5;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    + .icon-bar {
      margin-top: 3px; } } }

.nav-collapse.collapse {
  height: auto; }

header {
  .brand {
    &:hover {
      text-decoration: none; }
    float: left;
    display: block;
    padding: 2px 20px 0;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    color: #ffffff; }
  .navbar-text {
    margin-bottom: 0;
    line-height: 40px;
    color: #999999;
    a:hover {
      color: #ffffff;
      background-color: transparent; } }
  .btn {
    margin-top: 5px; }
  .btn-group {
    margin-top: 5px;
    .btn {
      margin-top: 0; } }
  .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0; }
  .pull-right {
    float: right; }
  .nav {
    > li {
      display: block;
      float: left;
      > a {
        color: #FFFFFF;
        float: none;
        line-height: 23px;
        padding: 4px 10px;
        text-decoration: none;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.125);
        &:hover {
          background-color: transparent;
          color: #ffffff;
          text-decoration: none; } } }
    .active > a {
      color: #ffffff;
      text-decoration: none;
      background-color: #222222;
      background-color: rgba(0, 0, 0, 0.5); } } }

.navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5); }

header {
  .divider-vertical {
    height: 40px;
    width: 1px;
    margin: 0 9px;
    overflow: hidden;
    background-color: #222222;
    border-right: 1px solid #333333; }
  .pull-right {
    margin: 0 0 0 10px; } }

.header-tabs li {
  background-color: #EC943C;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ec943c), to(#e68b2b));
  background-image: -webkit-linear-gradient(top, #ec943c, #e68b2b);
  background-image: -moz-linear-gradient(top, #ec943c, #e68b2b);
  background-image: -ms-linear-gradient(top, #ec943c, #e68b2b);
  background-image: -o-linear-gradient(top, #ec943c, #e68b2b);
  background-image: linear-gradient(top, #ec943c, #e68b2b);
  border-bottom: 1px solid #cf7d2b;
  border-left: 1px solid #cf7d2b;
  border-right: 1px solid #cf7d2b;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-weight: normal;
  margin: 0;
  text-align: right;
  &:hover {
    background-color: #AF7223;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ec943c), to(#d47e26));
    background-image: -webkit-linear-gradient(top, #ec943c, #d47e26);
    background-image: -moz-linear-gradient(top, #ec943c, #d47e26);
    background-image: -ms-linear-gradient(top, #ec943c, #d47e26);
    background-image: -o-linear-gradient(top, #ec943c, #d47e26);
    background-image: linear-gradient(top, #ec943c, #d47e26);
    border-color: #AF7223; } }

header {
  .pull-right li .dropdown-menu li {
    background: transparent;
    border: none;
    width: 100%; }
  .dropdown-menu {
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    &:before {
      content: '';
      display: inline-block;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      top: -7px;
      left: 9px; }
    &:after {
      content: '';
      display: inline-block;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      position: absolute;
      top: -6px;
      left: 10px; } }
  .nav {
    .dropdown-toggle .caret, .open.dropdown .caret {
      border-top-color: #ffffff; }
    .active .caret {
      opacity: 1;
      filter: alpha(opacity = 100); }
    .open > .dropdown-toggle, .active > .dropdown-toggle, .open.active > .dropdown-toggle {
      background-color: transparent; }
    .active > .dropdown-toggle:hover {
      color: #ffffff; } }
  .pull-right .dropdown-menu {
    left: auto;
    min-width: 125px;
    right: 0;
    &:before {
      left: auto;
      right: 12px; }
    &:after {
      left: auto;
      right: 13px; } } }



/* Button ================================================================================== */

.button, a.button {
  background-color: #E4E4E4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#dedbd3));
  background-image: -webkit-linear-gradient(top, #e4e4e4, #dedbd3);
  background-image: -moz-linear-gradient(top, #e4e4e4, #dedbd3);
  background-image: -ms-linear-gradient(top, #e4e4e4, #dedbd3);
  background-image: -o-linear-gradient(top, #e4e4e4, #dedbd3);
  background-image: linear-gradient(top, #e4e4e4, #dedbd3);
  border: 1px solid #c7cdd3;
  color: #262626;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.125);
  display: inline-block;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
  font: bold 12px / 24px arial, helvetica, sans-serif;
  height: 24px;
  line-height: 24px;
  min-width: 50px;
  padding: 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -ms-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.button:hover, a:hover.button {
  background-color: #cccece;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#cccece));
  background-image: -webkit-linear-gradient(top, #e4e4e4, #cccece);
  background-image: -moz-linear-gradient(top, #e4e4e4, #cccece);
  background-image: -ms-linear-gradient(top, #e4e4e4, #cccece);
  background-image: -o-linear-gradient(top, #e4e4e4, #cccece);
  background-image: linear-gradient(top, #e4e4e4, #cccece);
  border: 1px solid #CCCAC8;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.125);
  text-decoration: none;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -ms-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.button-blu, a.button-blu {
  background-color: #7C97C4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7c97c4), to(#768eb3));
  background-image: -webkit-linear-gradient(top, #7c97c4, #768eb3);
  background-image: -moz-linear-gradient(top, #7c97c4, #768eb3);
  background-image: -ms-linear-gradient(top, #7c97c4, #768eb3);
  background-image: -o-linear-gradient(top, #7c97c4, #768eb3);
  background-image: linear-gradient(top, #7c97c4, #768eb3);
  border: 1px solid #5f80b3;
  color: #fff!important;
  font-size: 13px;
  height: 23px;
  margin: 0 1.2em 0.4em 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.125); }

.button-blu:hover, a.button-blu:hover {
  border: 1px solid #5e627d;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #6481ae;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7c97c4), to(#6481ae));
  background-image: -webkit-linear-gradient(top, #7c97c4, #6481ae);
  background-image: -moz-linear-gradient(top, #7c97c4, #6481ae);
  background-image: -ms-linear-gradient(top, #7c97c4, #6481ae);
  background-image: -o-linear-gradient(top, #7c97c4, #6481ae);
  background-image: linear-gradient(top, #7c97c4, #6481ae); }

.button-red, a.button-red {
  background-color: #F25F54;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f25f54), to(#ec5643));
  background-image: -webkit-linear-gradient(top, #f25f54, #ec5643);
  background-image: -moz-linear-gradient(top, #f25f54, #ec5643);
  background-image: -ms-linear-gradient(top, #f25f54, #ec5643);
  background-image: -o-linear-gradient(top, #f25f54, #ec5643);
  background-image: linear-gradient(top, #f25f54, #ec5643);
  border: 1px solid #d54843;
  color: #fff!important;
  font-size: 13px;
  height: 23px;
  margin: 0 1.5em 1.2em 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.125); }

.button-red:hover, a.button-red:hover {
  border: 1px solid #d42a0d;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #da493e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f25f54), to(#da493e));
  background-image: -webkit-linear-gradient(top, #f25f54, #da493e);
  background-image: -moz-linear-gradient(top, #f25f54, #da493e);
  background-image: -ms-linear-gradient(top, #f25f54, #da493e);
  background-image: -o-linear-gradient(top, #f25f54, #da493e);
  background-image: linear-gradient(top, #f25f54, #da493e); }

.button-submit, a.button-submit {
  background-color: #EC943C;
  /* 1) 40   0123456789abcdef */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ec943c), to(#e68b2b));
  /* 2) 34 -6  */
  background-image: -webkit-linear-gradient(top, #ec943c, #e68b2b);
  background-image: -moz-linear-gradient(top, #ec943c, #e68b2b);
  background-image: -ms-linear-gradient(top, #ec943c, #e68b2b);
  background-image: -o-linear-gradient(top, #ec943c, #e68b2b);
  background-image: linear-gradient(top, #ec943c, #e68b2b);
  border: 1px solid #cf7d2b;
  /* 4) 11 -5 */
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.125);
  width: auto; }

.button-submit:hover, a:hover.button-submit {
  border: 1px solid #ce5ef5;
  background-color: #d47e26;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ec943c), to(#d47e26));
  background-image: -webkit-linear-gradient(top, #ec943c, #d47e26);
  background-image: -moz-linear-gradient(top, #ec943c, #d47e26);
  background-image: -ms-linear-gradient(top, #ec943c, #d47e26);
  background-image: -o-linear-gradient(top, #ec943c, #d47e26);
  background-image: linear-gradient(top, #ec943c, #d47e26); }

.button:active, a.button:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3); }

.button-little {
  font-size: 12px;
  height: 18px;
  line-height: 19px; }

/* Icon ==================================================================================== */

.close {
  color: #000000;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  opacity: 0.2;
  text-shadow: 0 1px 0 #FFFFFF;
  &:hover {
    color: #000000;
    cursor: pointer;
    opacity: 0.4;
    text-decoration: none; } }

/* Thumbnails ============================================================================== */

.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
  &:before {
    display: table;
    content: ""; }
  &:after {
    display: table;
    content: "";
    clear: both; } }

.thumbnail {
  display: block;
  padding: 3px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); }

a.thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25); }

.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

/* Message ================================================================================= */

.msg {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
  .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px; } }

.msg-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847; }

.msg-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48; }

.msg-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad; }

.msg-hidden {
  display: none; }

.check_remove {
  background-color: #FFF4C7;
  border: 1px solid #E5AD6B;
  font-size: 13px;
  line-height: 18px;
  padding: 16px;
  position: absolute;
  right: 35%;
  top: 40%;
  vertical-align: middle;
  width: 280px;
  z-index: 6000;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

/* Header ================================================================================== */

/* Content ================================================================================= */

.box {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  font-weight: normal;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

/* Hash Table ============================================================================== */
.hash_table_tools {
  .legend {
    border-bottom: 1px solid #dedede;
    span {
      display: inline-block;
      &:first-child {
        display: inline-block;
        margin: 0 4px 0 0; 
      } 
    } 
  }
  .form-actions {
    background-color: #F5F5F5;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 18px;
    margin-top: 18px;
    padding: 17px 20px 18px; 
  }
  .help-block {
    margin-top: 49px;
    margin-left: 187px;
    margin-bottom: 0;
    width: 49%;
  }
}

.hash_add_label {
  margin-left: 20px; 
}

.hash_remove_label {
  float: right !important;
  padding: 0; 
}

/* Pages =================================================================================== */

.pages_table_tools {
  .legend {
    border-bottom: 1px solid #dedede;
    span {
      display: inline-block;
      &:first-child {
        display: inline-block;
        margin: 0 4px 0 0; } } }
  .input-little {
    margin: 0 18px 0 2px; } }

.pages_add_label {
  margin-left: 20px; }

.pages_table_tools {
  .pages_remove_label {
    float: right;
    margin: 0 21px 0 0;
    padding: 0; }
  .form-actions {
    background-color: #F5F5F5;
    border-top: 1px solid #DDDDDD;
    margin-bottom: 18px;
    margin-top: 18px;
    padding: 17px 20px 18px; }
  .pages_tool {
    margin: 10px 0 0 0;
    display: none; 
    &.show {
      display: inherit;
    }
  }
  .pages_field {
    select {
      float: right;
      margin: 10px 21px 0 0;
      width: 14.8936%; }
    .control-group {
      border-right: 3px solid #DDDDDD;
      padding: 0 0 0 2px;
      width: 99.9%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; 
    } 
    .help-block {
      margin-top: 0;
      margin-left: 2px;
      margin-bottom: 0;
      width: 75%;
      display: inline-block;
    }
  } 
}

.label_pages {
  margin-bottom: 20px; }

.pages_table_tools .control-group input {
  margin-bottom: 0; }

/* Settings ================================================================================ */

.settings, .content_right {
  background-color: #FCFCFC;
  border: 1px solid #DEDEDE;
  padding: 5px 10px;
  width: 97%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.settings .form-actions {
  background-color: #F5F5F5;
  border-top: 1px solid #DDDDDD;
  margin-bottom: 18px;
  margin-top: 18px;
  padding: 17px 20px 18px 130px; }

/* Footer ================================================================================== */

footer {
  border-top: 4px double #DEDEDE;
  margin: 30px auto 0;
  padding: 20px;
  text-align: center;
  width: 940px;
  p {
    opacity: 0.6;
    filter: alpha(opacity = 60); 
  } 
}
