<div class="control-group">
    <label>Id</label>
    <div class="controls">
        <p>{{ user._id }}</p>
        <input class="input-xlarge disabled" type="hidden" disabled="" placeholder="{{ user._id }}">
    </div>
</div>
<div class="control-group">
    <label>Created</label>
    <div class="controls">
        <input class="input-xlarge disabled" type="text" disabled="" placeholder="{{ user.created }}">
    </div>
</div>
<div class="control-group">
    <label>Email verify</label>
    <div class="controls">
        <input class="input-xlarge disabled" type="text" disabled="" placeholder="{{ user.email_verify }}">
    </div>
</div>
<div class="control-group">
    <label>Remember verify</label>
    <div class="controls">
        <input class="input-xlarge disabled" type="text" disabled="" placeholder="{{ user.remember_verify }}">
    </div>
</div>
