{% extends "admin/index.html" %}

{% block title %} {{ g.hash_table.title }} {% endblock %}
{% block description %}  {% endblock %}

{% block nav_active_5 %}class="active"{% endblock %}

{% block admin %}
<div ng-controller="HashTableCtrl">
  <h2>{{ g.hash_table.name }}</h2>
  <br />
  {% if my.rank < 15 %}
  <a href="/admin/hash_table/new/" title="" class="button button-blu">{{ g.hash_table.add_new_hash_map }}</a>
  {% endif %}
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th style="width:45%;">{{ g.admin.name_val }}</th>
        <th style="width:35%;">{{ g.admin.number }}</th>
        {% if my.rank < 15 %}
        <th style="width:20%;">{{ g.admin.remove }}</th>
        {% endif %}
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="4"></td>
      </tr>
    </tfoot>
    <tbody class="hidden" ng-class="{hidden: !show_hash_map_list}">
      <tr ng-repeat="hash_map in items_list | orderBy:name">
        <td><a href="/admin/hash_table/update/[[ hash_map['_id'] ]]/">[[ hash_map['name'] ]]</a></td>
        <td>[[ hash_map['value'].length ]]</td>
        {% if my.rank < 15 %}
        <td>
          <span class="remove_item" ng-click="remove(hash_map._id, $index)">{{ g.admin.remove_item }}</span>
        </td>
        {% endif %}
      </tr>
    </tbody>
  </table>
  {% include "error/loader.html" %}
</div>
{% endblock %}

{% block js_module_files %}
  {% if not sync %}
    "{{ '/static/js/%s' % js_version['hash_table'] }}",
  {% endif %}
{% endblock %}

{% block js_module_files_sync %}
  {% if sync %}
    <script src="{{ '/static/js/%s' % js_version['hash_table'] }}" ></script>
  {% endif %}
{% endblock %}
