<section class="label_form section_num_{{ i }}">
    {% if g.my['rank'] == 10 %}
    <span>Label :</span>
    <input type="text" name="label_it_name_{{ i }}" value="{{ x['label'] }}" class="name_label label_it_name_{{ i }}" />
    <span>Alias :</span>
    <input type="text" name="alias_it_name_{{ i }}" value="{{ x['alias'] }}" class="alias_label" />
    {% else %}
    <label>{{ x['alias'] }}</label>
    <input type="text" name="alias_it_name_{{ i }}" value="{{ x['alias'] }}" />
    {% endif %}
    
    {% if g.my['rank'] == 10 %}
    <select class="label_{{ i }}_0" name="input_label_{{ i }}">
        <option value="1" {% if page['input_label'][i] == 1 %}selected="selected"{% endif %}>text</option>
        <option value="2" {% if page['input_label'][i] == 2 %}selected="selected"{% endif %}>textarea</option>
        <option value="3" {% if page['input_label'][i] == 3 %}selected="selected"{% endif %}>image</option>
    </select>
    <span class="button page_remove_label num_{{ i }}">- Rimuovi label</span>
    {% endif %}
    
    <input type="text" name="label_it_{{ i }}" value="{{ x['value'] }}" tabindex="{{ (i+3) }}" class="label_{{ i }}_1" 
    {% if page['input_label'][i] == 1 %} style="display:inline" {% endif %} />
    
    <textarea rows="4" cols="50" name="label_it_{{ i }}" tabindex="{{ (i+3) }}" class="label_{{ i }}_2" 
    {% if page['input_label'][i] == 2 %} style="display:inline" {% endif %}>{{ x['value'] }}</textarea>
      
    {% if x['value'] %}  
    <img src="{{ image+'/'+x['value'] }}" {% if page['input_label'][i] == 3 %} style="display:inline" {% endif %}>
    {% endif %}
    <input type="hidden" name="label_it_{{ i }}_hidden" value="{% if x['value'] %}{{ x['value'] }}{% endif %}" />
    <input type="file" name="file_upload_it_{{ i }}" tabindex="{{ (i+3) }}" class="label_{{ i }}_3" 
    {% if page['input_label'][i] == 3 %} style="display:inline" {% endif %} />
</section>