{% extends "modules/admin/index.html" %}
{% block head %}
    <title>Add new page</title>
{% endblock %}
{% block content %}
    <h2>Add new page</h2>
    <section class="hash_languages">
        <span class="button list_language_button">{{ language }}</span>
        <ul class="list_language">
            {% for code, name in language_name %}
            <li class="{{ code }}_lan {% if g.lan == code %}language_selected{% endif %}">{{ name }}</li>
            {% endfor %}
        </ul>
    </section>
    <form action="{{ url_for('pages.new') }}" enctype="multipart/form-data" method="post" >
        <section class="form_container first_light">
            <section>
                <label>Page name</label>
                <input type="text" name="name" value="" tabindex="1" maxlength="20" />
            </section>
            <section>
                <label>Name file</label>
                <input type="text" name="name_file" value="" tabindex="3" maxlength="20" />
            </section>
        </section>
        {% for code, name in language_name %}
        <h3 class="h3_{{ code }}" {% if code != g.lan %}style="display:none"{% endif %}>Document in {{ name }}</h3>  
        <section class="section_{{ code }}" {% if code != g.lan %}style="display:none"{% endif %}>
            <div class="form_container">
                <section>
                    <label>Title</label>
                    <input type="text" name="title_{{ code }}" value="" tabindex="2" maxlength="200" />
                </section>
                <section>
                    <label>Description</label>
                    <textarea rows="4" cols="50" name="description_{{ code }}"></textarea>
                </section>
                <section>
                    <label>Url page</label>
                    <input type="text" name="url_{{ en }}" value="" tabindex="3" maxlength="40" />
                </section>
                <br />
                <br />
                {% for i, x in enumerate(page['content'][code]) %}
                    {% include 'modules/pages/field.html' %}
                {% endfor %}
                <span class="page_add_label button button_right button-blu before_{{ code }}">{{ g.admin.add_field }}</span>
            </div>
        </section>
        {% endfor %}
        <div>
            <button tabindex="200" type="submit" class="button button-submit">Create page</button>
        </div>
    </form>
{% endblock %}
{% block javascript_file %}
<script src="{{ url_for('static', filename='js/pages.js') }}"></script>
{% endblock %}