{% extends "modules/admin/index.html" %}
{% block head %}
    <title>Pages content</title>
{% endblock %}
{% block content %}
    <h2>Pages content</h2>
    <form action="{{ url_for('pages.content', _id=_id) }}" enctype="multipart/form-data" method="post" >
        <ul class="menu_section">
            <li class="section_one language_selected">English</li>
            <li class="section_two">Italiano</li>
        </ul>
        {% if g.my['rank'] == 10 %}
        <section class="form_container first_light">
            <section>
                <label>Page name</label>
                <input type="text" name="name" value="{{ page['name'] }}" tabindex="1" maxlength="20" />
            </section>
            <section>
                <label>Name file</label>
                <input type="text" name="name_file" value="{{ page['file'] }}" tabindex="3" maxlength="20" />
            </section>
        </section>
        {% endif %}
        <section class="one">
            <div class="form_container">
                <section>
                    <label>Title</label>
                    <input type="text" name="title_en" value="{{ page['title']['en'] }}" tabindex="2" maxlength="200" />
                </section>
                <section>
                    <label>Description</label>
                    <textarea rows="4" cols="50" name="description_en">{{ page['description']['en'] }}</textarea>
                </section>
                <section>
                    <label>Url page</label>
                    <input type="text" name="url_en" value="{{ page['url']['en'] }}" tabindex="3" maxlength="40" />
                </section>
                <br />
                <br />
                {% for i, x in enumerate(page['content']['en']) %}
                    {% include 'admin/pages/label_en.html' %}
                {% endfor %}
                {% if g.my['rank'] == 10 %}
                <span class="page_add_label submit_one button">{{ g.admin.add_field }}</span>
                {% endif %}
            </div>
        </section>
        <section class="two">
            <div class="form_container">
                <section>
                    <label>Titolo</label>
                    <input type="text" name="title_it" value="{{ page['title']['it'] }}" tabindex="2" maxlength="200" />
                </section>
                <section>
                    <label>Descrizione</label>
                    <textarea rows="4" cols="50" name="description_it">{{ page['description']['it'] }}</textarea>
                </section>
                <section>
                    <label>Url pagina</label>
                    <input type="text" name="url_it" value="{{ page['url']['it'] }}" tabindex="3" maxlength="40" />
                </section>
                <br />
                <br />
                {% for i, x in enumerate(page['content']['it']) %}
                    {% include 'admin/pages/label_it.html' %}
                {% endfor %}
                {% if g.my['rank'] == 10 %}
                <span class="page_add_label submit_two button">{{ g.admin.add_field }}</span>
                {% endif %}
            </div>
        </section>
        <div>
            <button tabindex="200" type="submit" class="button button-submit">{{ g.admin.save }}</button>
        </div>
    </form>
{% endblock %}
{% block javascript_file %}
<script src="{{ url_for('static', filename='js/pages.js') }}"></script>
{% endblock %}