<div class="control-group">
    <label>Password</label>
    <div class="controls">
        <input type="password" ng-model="user.password_new" class="form-control" 
        maxlength="20" data-test="password_new" />
    </div>
</div>
<div class="control-group">
    <label>{{ g.users.password_check }}</label>
    <div class="controls">
        <input type="password" ng-model="user.password_check" class="form-control"
        maxlength="20" data-test="password_check" />
    </div>
</div>