/* =============================================================================
Main layout style
============================================================================= */
body {
  background-color: white;
  color: #424242;
  font-family: 'Arial','Helvetica Neue','Helvetica',sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
}

.content {
  margin: 20px auto 0;
  padding: 15px 0;
  width: 800px;
}
.content p.intro {
  margin: 12px auto;
  width: 740px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* =============================================================================
Header style
============================================================================= */
header {
  width: 800px;
  margin: 40px auto 20px;
  text-align: center;
}

/* =============================================================================
Footer style
============================================================================= */
footer {
  border-top: 4px double #DEDEDE;
  margin: 30px auto 0;
  padding: 20px;
  text-align: center;
  width: 800px;
}
footer p {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
footer p a.set_language {
  color: #222;
  margin: 0 10px 0 0;
}
footer p a.set_language i {
  margin: 0 4px 0 0;
}
footer p a.set_language:hover {
  color: #D5913C;
  cursor: pointer;
  text-decoration: underline;
}
footer p a.underline {
  text-decoration: underline;
}

/* =============================================================================
Typography style
============================================================================= */
p {
  margin: 0 0 9px;
  font-size: 13px;
  line-height: 18px;
}
p small {
  font-size: 11px;
  color: #999999;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: #C6905C;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 28px;
  line-height: 34px;
}
h1 small {
  font-size: 16px;
}

h2 {
  font-size: 20px;
  line-height: 34px;
}
h2 small {
  font-size: 16px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
}
h3 small {
  font-size: 13px;
}

h4, h5 {
  line-height: 16px;
}

h4 {
  font-size: 13px;
}
h4 small {
  font-size: 11px;
}

h5 {
  font-size: 11px;
}

a {
  color: #C6905C;
  cursor: pointer;
  text-decoration: none;
}
a:link, a:visited {
  color: #C6905C;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #262626;
  cursor: pointer;
  text-decoration: none;
}

*::-moz-selection {
  background: #ffcc89;
  color: #222;
}
*::selection {
  background: #ffcc89;
  color: #222;
}

.underline {
  text-decoration: underline;
}

::selection {
  background: #ffcc89;
  color: #222;
}

::-moz-selection {
  background: #ffcc89;
  color: #222;
}

.hidden {
  display: none !important;
}

.icon-de {
  background-position: 0 -26px;
  background-image: url('/static/layout/icons-s5df16af641.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 11px;
}
.icon-de.text {
  padding-left: 21px;
}

.icon-en {
  background-position: 0 0;
  background-image: url('/static/layout/icons-s5df16af641.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 11px;
}
.icon-en.text {
  padding-left: 21px;
}

.icon-es {
  background-position: 0 -52px;
  background-image: url('/static/layout/icons-s5df16af641.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 11px;
}
.icon-es.text {
  padding-left: 21px;
}

.icon-fr {
  background-position: 0 -39px;
  background-image: url('/static/layout/icons-s5df16af641.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 11px;
}
.icon-fr.text {
  padding-left: 21px;
}

.icon-gb {
  background-position: 0 -13px;
  background-image: url('/static/layout/icons-s5df16af641.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 11px;
}
.icon-gb.text {
  padding-left: 21px;
}

.icon-it {
  background-position: 0 -65px;
  background-image: url('/static/layout/icons-s5df16af641.png');
  background-repeat: no-repeat;
  width: 16px;
  height: 11px;
}
.icon-it.text {
  padding-left: 21px;
}

[class*="icon-"] {
  display: inline-block;
  vertical-align: middle;
  /*&.text {
  	width: auto;
  	font-weight: bold;
  	color: #35758d;
  	line-height: 1;
  }*/
}

/* =============================================================================
Home style
============================================================================= */
