{% extends "modules/admin/index.html" %}
{% block title %} {{ g.users.title }} {% endblock %}
{% block description %} {{ g.users.description }} {% endblock %}
{% block content %}
    <h2>{{ g.users.name }}</h2>
    <br />
    <a href="{{ admin }}/users/new/" title="" class="button button-blu">{{ g.users.add_user }}</a>
    <table class="table_items">
    	<thead>
    		<tr>	
    			<th style="width:40%;">Username</th>
    			<th style="width:20%;">Rank</th>
    			<th style="width:40%;">_id</th>
    			<th style="width:20%;">{{ g.users.remove }}</th>
    		</tr>
    	</thead>
    	<tfoot>
    		<tr>
    			<td colspan="4"></td>
    		</tr>
    	</tfoot>
    	<tbody>
    		{% for i, user in enumerate(users_list) %}
    		<tr class="item_{{ str(user['_id']) }} {% if i % 2 == 1 %}gray{% endif %}">
    			<td><a href="{{ admin }}/users/{{ str(user['_id']) }}/">{{ user['username'] }}</a></td>
    			<td>{{ user['rank'] }}</td>
    			<td><a href="{{ admin }}/users/{{ str(user['_id']) }}/">{{ user['_id'] }}</a></td>
    			<td>
    			    {% if g.my_id != user['_id'] %}
    			    <span class="remove_item item_{{ str(user['_id']) }}">{{ g.admin.remove_item }}</span>
    			    {% endif %}
    			</td>
    		</tr>
    		{% endfor %}
    	</tbody>
    </table>
{% endblock %}
{% block javascript_file %}
<script src="{{ url_for('static', filename='js/users_overview.js') }}"></script>
{% endblock %}
