@charset "utf-8";
/* Reset =================================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Layout ================================================================================== */
body {
	background:#DFD2CA;
	color:#6E585A;
	font: 62.5%/1  Arial, Helvetica, sans-serif;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "Bitstream Vera Sans", Arial, Verdana, sans-serif;
	line-height:1.4em;
}

::selection { 
    background: #ffcc89; 
    color: #222; 
}
::-moz-selection { 
    background: #ffcc89; 
    color: #222; 
}

/* Typography ============================================================================== */
h1 {
    background:transparent url(./admin/logo/login.png) no-repeat scroll center top;
    display:block;
    height:142px;
    overflow:hidden;
    text-indent:-9999px;
    width:340px;
}

h2 {
    font-size: 2.2em;
    padding-bottom: 10px;
}

p {
    padding:5px 0 5px 0;
    margin:0px;
    text-align:justify;
}

a, a:visited, a:link, a:visited {
    cursor:pointer;
    color: #444;
    text-decoration: none; 
}

a:hover {
    cursor:pointer;
    color: #cb3e07;
    text-decoration: none;
    border-bottom:none
}

/* Color =================================================================================== */
.first_light { 
    background-color:#F3E2CF!important;
}

/* Header ================================================================================== */
header {
    background: none repeat scroll 0 0 #93645A;
    height: 38px;
    width: 100%;
}

header img{
    float:left;
}

header ul {
    float:right;
    margin-right:100px;
}

header li {
    display: block;
    float: left;
    font-size: 13px;
    position: relative;
}

header li a {
    color: #fff;
    display: block;
    float: none;
    line-height: 19px;
    padding: 10px;
    text-decoration: none;
}

header li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

header li:hover ul { 
    display: inherit; 
}

.header_menu {
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    background-color: #7C97C4;
    border: 0 none;
    display: none;
    float: left;
    margin-left: 0;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 38px;
    width: 160px;
}

.header_menu li{
    display: block;
    float: left;
    font-size: 13px;
    clear: both;
    display: block;
    width: 160px;
}

.header_menu li a {
    padding: 6px 15px;
}

.header_menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.vertical-line {
    border-left: 1px solid #008DB8;
    border-right: 1px solid #00A0D1;
    height: 30px;
    margin: 5px 3px 1px;
}

/* Nav ===================================================================================== */
nav {
    background: none repeat scroll 0 0 #7C97C4; 
    float:left;
    font-size:1.4em;
    width: 18%;
}

nav li {
    border-bottom:1px solid #52689A;
}

nav p {
    padding:0px;
}

nav a {
    color:#fff!important;
    display:block;
    line-height:2.2em;
    padding-left:30px;
    width:100%;
}

/* Content ================================================================================= */
.content { 
    float:left;
    padding:20px;
    width:76%;
}

.menu_languages li {
    background: none repeat scroll 0 0 #7C97C4;
    color:#fff;
    display:inline-block;
    font-size:1.5em;
    padding:8px 15px;
    margin:4px 10px 10px 0;
}

.menu_languages li {
    cursor:pointer;
}

.menu_languages li:hover, .language_selected {
    background:#97B2CF!important;
}

.two {
    display:none;
}

/* Form ==================================================================================== */
.form_container {
    background: none repeat scroll 0 0 #f0f0f0;
    margin: 0 0 10px;
    padding: 16px 40px;
    width: 600px;
}

.form_container section {
    clear: both;
    margin: 0 0 5px;
    min-height: 28px;
}

.form_container section label {
    color: #3C3C3C;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    padding: 6px 0 1px;
    text-align: left;
}

.form_container section input, .form_container section textarea {
    border: 1px solid #d8d8d8;
    font-family: Arial,sans-serif;
    font-size: 1.5em;
    margin: 2px 10px 2px 0;
    padding: 3px;
    width: 290px;
    -webkit-border-radius: 3px;
   	-moz-border-radius: 3px;
   	border-radius: 3px;
}

.form_container section textarea {
    width: 400px;
}

.form_container section input:focus, .form_container section textarea:focus {
    border: 1px solid #E28223;
}

button.submit {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor:pointer;
    margin: 14px 0 0 38px;
    padding: 0;
    width: auto;
}

button.submit span {
    background:#DC7325;
    color: #FFFFFF;
    display: block;
    font-family: Helvetica,Arial,sans-serif;
    font-size:1.5em;
    font-weight: bold;
    height: 26px;
    line-height: 28px;
    padding: 3px 25px;
    text-shadow: 0 1px 1px #686868;
    -webkit-border-radius: 4px;
   	-moz-border-radius: 4px;
   	border-radius: 4px;
}

button.submit:hover span  {
    background-position: 0 -30px;
}

a.button, span.button {
    background: none repeat scroll 0 0 #7C97C4;
    color:#fff;
    display:inline-block;
    font-size:1.2em;
    padding:8px 15px;
    margin:4px 10px 10px 0;
    -webkit-border-radius: 4px;
   	-moz-border-radius: 4px;
   	border-radius: 4px;
}

a:hover.button, span:hover.button {
    cursor:pointer;
    background:#97B2CF;
}

span.button {
    padding:6px 12px;
    margin:;
}

.field_error {
    background-color: #FFE3DF;
    border: 1px solid #F08A73;
    display:none;
    float: right;
    font-size: 1.2em;
    font-weight: normal;
    margin: 2px 0;
    padding: 5px 11px;
    -webkit-border-radius: 4px;
   	-moz-border-radius: 4px;
   	border-radius: 4px;
}

.width180 {
    width:180px!important;
}

.label_form input, .label_form textarea, .label_form img {
    display:none;
}

.label_form input[type="hidden"] {
    display:inline;
}

.label_form img {
    max-width:200px;
    max-height:200px;
}

.alias_label, .name_label {
    display: inline !important;
    font-size:1em!important;
    width: 104px !important;
}

/* Table =================================================================================== */
.table_items{
    -moz-border-radius:3px;
    border-radius:3px;
    background-color:#F5F5F5;
    border-spacing:0;
    color:#474747;
    font-family:"Lucida Grande",Verdana,"Bitstream Vera Sans",Arial,sans-serif;
    line-height:22px;
    margin:10px 0;
    table-layout:fixed;
    width:100%;
}

.table_items th{
    background: #6E7373;
    background-image: -moz-linear-gradient(100% 40% 270deg,#6E7373, #6F7474, #919999 100%);/* inizio - linea centrale - fine */
    background-image: -webkit-gradient(linear, 0% 45%, 0% 69%, from(#6E7373), to(#6F7474), color-stop(1,#919999));
    border-right:1px solid #DFDFDF;
    border-spacing:0;
    font-size:13px;
    font-weight:bold;
    overflow:hidden;
    padding:2px 7px 3px;
    text-align:left;
    color:#FEFEFE !important;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.8);
}

.table_items th a{
    color:#FEFEFE !important; 
}


.table_items tfoot tr td {
    padding:0px 7px 0px;
    -moz-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px;
    background: #6E7373;
    background-image: -moz-linear-gradient(100% 40% 270deg,#6E7373, #6F7474, #919999 100%);/* inizio - linea centrale - fine */
    background-image: -webkit-gradient(linear, 0% 45%, 0% 69%, from(#6E7373), to(#6F7474), color-stop(1,#919999));
    font-size:13px;
    font-weight:bold;
    min-height:30px;
    text-shadow:0 1px 0 rgba(0, 0, 0, 0.8);
}

.table_items td{
    background-color:#F9F9F9;
    border-bottom:1px solid #DDDDDD;
    border-top:1px solid #FFFFFF;
    font-size:11px;
    padding:1px 7px 2px;
}

span.remove_item {
    cursor:pointer;
    text-decoration:underline;
}

span:hover.remove_item {
    color:red;
}