@charset "utf-8";
/* Reset =================================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, 
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, 
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Layout ================================================================================== */
body {
	background-color: #FCFBF6;
	color: #424242;
	font: 62.5%/1  Arial, Helvetica, sans-serif;
	text-align: center;
}

/* Typography ============================================================================== */
h1 {
    color: #999;
    font-size: 2.8em;
    line-height: 1.4em;
}

a, a:link, a:visited {
    color: #B45B1F;
    cursor:pointer;
    text-decoration:none;
}

a:hover {
    color:#CAD7DD;
    cursor:pointer;
    text-decoration:none;
}

/* Header ================================================================================== */
header {
    background:#6E585A;
    height: 80px;
    width:100%;
}
nav {
    margin: 0 auto;
    width: 900px;
}

nav li {
    display:inline-block;
}

nav li a{
    color: #FFFCEF!important;
    font-family: Georgia,serif !important;
    font-size: 28px;
    font-weight: bolder;
    font-weight: 300 !important;
    letter-spacing: -0.5px;
    line-height:60px;
    margin:0 30px ;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

nav li a:hover {
    color:#f9c24c;
}

/* Content ================================================================================= */
body section {
    min-height:400px;
    padding:15px 0;
}
