{% extends "admin/index.html" %}

{% block title %} {{ g.users.title }} {% endblock %}
{% block description %} {{ g.users.description }} {% endblock %}

{% block ng_section %}ng-controller="UsersAdminCtrl"{% endblock %}
{% block nav_active_2 %}class="active"{% endblock %}

{% block admin %}
<h2>{{ g.users.name }}</h2>
<br />

{% if my.rank < 15 %}
<a href="/admin/users/new/" title="" class="button button-blu">{{ g.users.add_user }}</a>
{% endif %}

<table table-admin table-type="users" table-list="items_list" sort="sort_table" on-remove="remove"></table>
{% endblock %}

{% block js_module_names %}
	'bombolone.controllers.usersAdmin',
{% endblock %}

{% block js_module_files %}
  "{{ '/static/js/%s' % js_version['admin/users'] }}",
{% endblock %}
