{% extends "admin/index.html" %}
{% block head %}
    <title>Users</title>
{% endblock %}
{% block content %}
    <h2>Users</h2>
    <a href="{{ admin }}/users/new/" title="" class="button">Add new user</a>
    <table class="table_items">
    	<thead>
    		<tr>	
    			<th style="width:40%;">Username</th>
    			<th style="width:40%;">Rank</th>
    		</tr>
    	</thead>
    	<tfoot>
    		<tr>
    			<td colspan="2"></td>
    		</tr>
    	</tfoot>
    	<tbody>
    		{% for user in users_list %}
    		<tr>
    			<td><a href="{{ admin }}/users/{{ str(user['_id']) }}/">{{ user['username'] }}</a></td>
    			<td>{{ user['rank'] }}</td>
    		</tr>
    		{% endfor %}
    	</tbody>
    </table>
{% endblock %}
