{% extends "admin/index.html" %}
{% block head %}
    <title>New user</title>
{% endblock %}
{% block content %}
    <h2>New user</h2>
    <form action="{{ url_for('users.new') }}" enctype="multipart/form-data" method="post" >
        <ul class="menu_section">
            <li class="li_account section_selected">Account</li>
            <li class="li_profile">Profile</li>
            <li class="li_password">Password</li>
        </ul>
        {% if status %}<div class="{{ status }}">{{ message }}</div>{% endif %}
        <section class="sec_account">
            <div class="form_container">
                <section>
                    <label>Username</label>
                    <input type="text" name="username" value="{{ my.username or '' }}" tabindex="1" maxlength="20">
                    <p>Write username</p>
                </section>
                <section>
        			<label>Email</label>
        			<input type="text" name="email" value="{{ my.email or '' }}" tabindex="2" maxlength="200">
        			<p>Write email</p>
        		</section>
                <section>
                    <label>Rank</label>
                    <select name="rank" class="width220">
                        <option value="10" {% if my.rank == 10 %}selected="selected"{% endif %}>Admin</option>
                        <option value="20" {% if my.rank == 20 %}selected="selected"{% endif %}>User</option>
                    </select>
                </section>
                <section>
                    <label>Language</label>
                    <select name="language" class="width220">
                        {% for code, name in language_name %}
                        <option value="{{ code }}" {% if my.language == code %}selected="selected"{% endif %} >{{ name }}</option>
                        {% endfor %}
                    </select>
                </section>
                <section>
        			<label>Time zone</label>
        			<select name="time_zone" class="width220">
        			     <option {% if my.time_zone == 'US/Hawaii' %}selected="selected"{% endif %} 
        			     value="US/Hawaii">(UTC-10:00) Hawaii</option>
                         <option {% if my.time_zone == 'US/Alaska' %}selected="selected"{% endif %}
                         value="US/Alaska">(UTC-09:00) Alaska</option>
                         <option {% if my.time_zone=='US/Pacific' %}selected="selected"{% endif %} 
                         value="US/Pacific">(UTC-8) Pacific Time - USA &amp; Canada</option>
                         <option {% if my.time_zone=='US/Arizona' %}selected="selected"{% endif %} 
                         value="US/Arizona">(UTC-7) Arizona</option>
                         <option {% if my.time_zone=='US/Mountain' %}selected="selected"{% endif %} 
                         value="US/Mountain">(UTC-7) Mountain Time - USA &amp; Canada</option>
                         <option {% if my.time_zone=='US/Central' %}selected="selected"{% endif %} 
                         value="US/Central">(UTC-6) Central Time - USA &amp; Canada</option>
                         <option {% if my.time_zone=='US/Eastern' %}selected="selected"{% endif %} 
                         value="US/Eastern">(UTC-5) Eastern Time - USA &amp; Canada</option>
                         <option {% if my.time_zone == 'Canada/Atlantic'%}selected="selected"{% endif %} 
               			 value="Canada/Atlantic">(UTC-4) Atlantic Time</option>
                         <option {% if my.time_zone == 'Canada/Newfoundland'%}selected="selected"{% endif %} 
              			 value="Canada/Newfoundland">(UTC-3) Newfoundland</option>

                         <option disabled="disabled" value="">-- End Time Zone Usa &amp; Canada --</option>

                         <option {% if my.time_zone=='Pacific/Midway' %}selected="selected"{% endif %} 
                         value="Pacific/Midway">(UTC-11) Midway Island</option>
                         <option {% if my.time_zone=='America/Tijuana' %}selected="selected"{% endif %} 
                         value="America/Tijuana">(UTC-8) Tijuana</option>
                         <option {% if my.time_zone=='America/Chihuahua' %}selected="selected"{% endif %} 
                         value="America/Chihuahua">(UTC-7) Chihuahua</option>
                         <option {% if my.time_zone=='America/Mazatlan' %}selected="selected"{% endif %} 
                         value="America/Mazatlan">(UTC-7) Mazatlan</option>
                         <option {% if my.time_zone=='America/Mexico_City' %}selected="selected"{% endif %} 
                         value="America/Mexico_City">(UTC-6) Mexico City</option>
                         <option {% if my.time_zone=='America/Monterrey' %}selected="selected"{% endif %} 
                         value="America/Monterrey">(UTC-6) Monterrey</option>
                         <option {% if my.time_zone=='America/Bogota' %}selected="selected"{% endif %} 
                   		 value="America/Bogota">(UTC-5) Bogota</option>
                         <option {% if my.time_zone=='America/Lima' %}selected="selected"{% endif %} 
                  		 value="America/Lima">(UTC-5) Lima</option>
                         <option {% if my.time_zone=='America/Caracas' %}selected="selected"{% endif %} 
                 		 value="America/Caracas">(UTC-4) Caracas</option>
                         <option {% if my.time_zone=='Canada/Atlantic' %}selected="selected"{% endif %} 
                		 value="Canada/Atlantic">(UTC-4) Atlantic Time (Canada)</option>
                         <option {% if my.time_zone=='America/La_Paz' %}selected="selected"{% endif %} 
               			 value="America/La_Paz">(UTC-4) La Paz</option>
                         <option {% if my.time_zone=='America/Santiago'%}selected="selected"{% endif %} 
              			 value="America/Santiago">(UTC-4) Santiago</option>
                         <option {% if my.time_zone == 'America/Argentina/Buenos_Aires' %}
                         selected="selected"{% endif %} 
            			 value="America/Argentina/Buenos_Aires">(UTC-3) Buenos Aires</option>
           			     <option {% if my.time_zone == 'Atlantic/Azores' %}selected="selected"{% endif %} 
           			     value="Atlantic/Azores">(UTC-1) Azores</option>                
                         <option {% if my.time_zone == 'Atlantic/Cape_Verde' %}selected="selected"{% endif %} 
           			     value="Atlantic/Cape_Verde">(UTC-1) Cape Verde</option>
           			     <option {% if my.time_zone == 'Africa/Casablanca' %}selected="selected"{% endif %} 
           			     value="Africa/Casablanca">(UTC) Casablanca</option>
           			     <option {% if my.time_zone == 'Europe/Dublin' %}selected="selected"{% endif %} 
           			     value="Europe/Dublin">(UTC) Dublin</option>
                         <option {% if my.time_zone == 'Europe/Lisbon' %}selected="selected"{% endif %} 
          			     value="Europe/Lisbon">(UTC) Lisbon</option>
                         <option {% if my.time_zone == 'Europe/London' %}selected="selected"{% endif %} 
          			     value="Europe/London">(UTC) London</option>
                         <option {% if my.time_zone == 'Africa/Monrovia' %}selected="selected"{% endif %} 
         			     value="Africa/Monrovia">(UTC) Monrovia</option>
        			     <option {% if my.time_zone == 'Europe/Amsterdam' %}selected="selected"{% endif %} 
        			     value="Europe/Amsterdam">(UTC+1) Amsterdam</option>
                         <option {% if my.time_zone == 'Europe/Belgrade' %}selected="selected"{% endif %}
                         value="Europe/Belgrade">(UTC+1) Belgrade</option>
                         <option {% if my.time_zone == 'Europe/Berlin' %}selected="selected"{% endif %}
                         value="Europe/Berlin">(UTC+1) Berlin</option>
                         <option {% if my.time_zone == 'Europe/Bratislava' %}selected="selected"{% endif %}
                         value="Europe/Bratislava">(UTC+1) Bratislava</option>
                         <option {% if my.time_zone == 'Europe/Brussels' %}selected="selected"{% endif %}
                         value="Europe/Brussels">(UTC+1) Brussels</option>
                         <option {% if my.time_zone == 'Europe/Budapest' %}selected="selected"{% endif %}
                         value="Europe/Budapest">(UTC+1) Budapest</option>
                         <option {% if my.time_zone == 'Europe/Copenhagen' %}selected="selected"{% endif %}
                         value="Europe/Copenhagen">(UTC+1) Copenhagen</option>
                         <option {% if my.time_zone == 'Europe/Ljubljana' %}selected="selected"{% endif %}
                         value="Europe/Ljubljana">(UTC+1) Ljubljana</option>
                         <option {% if my.time_zone == 'Europe/Madrid' %}selected="selected"{% endif %}
                         value="Europe/Madrid">(UTC+1) Madrid</option>
                         <option {% if my.time_zone == 'Europe/Paris' %}selected="selected"{% endif %}
                         value="Europe/Paris">(UTC+1) Paris</option>
                         <option {% if my.time_zone == 'Europe/Prague' %}selected="selected"{% endif %}
                         value="Europe/Prague">(UTC+1) Prague</option>
                         <option {% if my.time_zone == 'Europe/Rome' %}selected="selected"{% endif %}
                         value="Europe/Rome">(UTC+1) Rome</option>
                         <option {% if my.time_zone == 'Europe/Sarajevo' %}selected="selected"{% endif %}
                         value="Europe/Sarajevo">(UTC+1) Sarajevo</option>
                         <option {% if my.time_zone == 'Europe/Skopje' %}selected="selected"{% endif %}
                         value="Europe/Skopje">(UTC+1) Skopje</option>
                         <option {% if my.time_zone == 'Europe/Stockholm' %}selected="selected"{% endif %}
                         value="Europe/Stockholm">(UTC+1) Stockholm</option>
                         <option {% if my.time_zone == 'Europe/Vienna' %}selected="selected"{% endif %}
                         value="Europe/Vienna">(UTC+1) Vienna</option>
                         <option {% if my.time_zone == 'Europe/Warsaw' %}selected="selected"{% endif %}
                         value="Europe/Warsaw">(UTC+1) Warsaw</option>
                         <option {% if my.time_zone == 'Europe/Zagreb' %}selected="selected"{% endif %}
                         value="Europe/Zagreb">(UTC+1) Zagreb</option>
                         <option {% if my.time_zone == 'Europe/Zurich' %}selected="selected"{% endif %}
                         value="Europe/Zurich">(UTC+1) Zurich</option>
                         <option {% if my.time_zone == 'Europe/Athens' %}selected="selected"{% endif %}
                         value="Europe/Athens">(UTC+2) Athens</option>
                         <option {% if my.time_zone == 'Europe/Bucharest' %}selected="selected"{% endif %}
                         value="Europe/Bucharest">(UTC+2) Bucharest</option>
                         <option {% if my.time_zone == 'Africa/Cairo' %}selected="selected"{% endif %}
                         value="Africa/Cairo">(UTC+2) Cairo</option>
                         <option {% if my.time_zone == 'Africa/Harare' %}selected="selected"{% endif %}
                         value="Africa/Harare">(UTC+2) Harare</option>
                         <option {% if my.time_zone == 'Europe/Helsinki' %}selected="selected"{% endif %}
                         value="Europe/Helsinki">(UTC+2) Helsinki</option>
                         <option {% if my.time_zone == 'Europe/Istanbul' %}selected="selected"{% endif %}
                         value="Europe/Istanbul">(UTC+2) Istanbul</option>
                         <option {% if my.time_zone == 'Asia/Jerusalem' %}selected="selected"{% endif %}
                         value="Asia/Jerusalem">(UTC+2) Jerusalem</option>
                         <option {% if my.time_zone == 'Europe/Minsk' %}selected="selected"{% endif %}
                         value="Europe/Minsk">(UTC+2) Minsk</option>
                         <option {% if my.time_zone == 'Europe/Riga' %}selected="selected"{% endif %}
                         value="Europe/Riga">(UTC+2) Riga</option>
                         <option {% if my.time_zone == 'Europe/Sofia' %}selected="selected"{% endif %}
                         value="Europe/Sofia">(UTC+2) Sofia</option>
                         <option {% if my.time_zone == 'Europe/Tallinn' %}selected="selected"{% endif %}
                         value="Europe/Tallinn">(UTC+2) Tallinn</option>
                         <option {% if my.time_zone == 'Europe/Vilnius' %}selected="selected"{% endif %}
                         value="Europe/Vilnius">(UTC+2) Vilnius</option>
                         <option {% if my.time_zone == 'Asia/Baghdad' %}selected="selected"{% endif %}
                         value="Asia/Baghdad">(UTC+3) Baghdad</option>
                         <option {% if my.time_zone == 'Asia/Kuwait' %}selected="selected"{% endif %}
                         value="Asia/Kuwait">(UTC+3) Kuwait</option>
                         <option {% if my.time_zone == 'Europe/Moscow' %}selected="selected"{% endif %}
                         value="Europe/Moscow">(UTC+3) Moscow</option>
                         <option {% if my.time_zone == 'Africa/Nairobi' %}selected="selected"{% endif %}
                         value="Africa/Nairobi">(UTC+3) Nairobi</option>
                         <option {% if my.time_zone == 'Asia/Riyadh' %}selected="selected"{% endif %}
                         value="Asia/Riyadh">(UTC+3) Riyadh</option>
                         <option {% if my.time_zone == 'Europe/Volgograd' %}selected="selected"{% endif %}
                         value="Europe/Volgograd">(UTC+3) Volgograd</option>
                         <option {% if my.time_zone == 'Asia/Tehran' %}selected="selected"{% endif %}
                         value="Asia/Tehran">(UTC+3) Tehran</option>
                         <option {% if my.time_zone == 'Asia/Baku' %}selected="selected"{% endif %}
                         value="Asia/Baku">(UTC+4) Baku</option>
                         <option {% if my.time_zone == 'Asia/Muscat' %}selected="selected"{% endif %}
                         value="Asia/Muscat">(UTC+4) Muscat</option>
                         <option {% if my.time_zone == 'Asia/Tbilisi' %}selected="selected"{% endif %}
                         value="Asia/Tbilisi">(UTC+4) Tbilisi</option> 
                         <option {% if my.time_zone == 'Asia/Yerevan' %}selected="selected"{% endif %}
                         value="Asia/Yerevan">(UTC+4) Yerevan</option>
                         <option {% if my.time_zone == 'Asia/Kabul' %}selected="selected"{% endif %}
                         value="Asia/Kabul">(UTC+4:30) Kabul</option>
                         <option {% if my.time_zone == 'Asia/Karachi' %}selected="selected"{% endif %}
                         value="Asia/Karachi">(UTC+5) Karachi</option>
                         <option {% if my.time_zone == 'Asia/Tashkent' %}selected="selected"{% endif %}
                         value="Asia/Tashkent">(UTC+5) Tashkent</option>
                         <option {% if my.time_zone == 'Asia/Kolkata' %}selected="selected"{% endif %}
                         value="Asia/Kolkata">(UTC+5:30) Kolkata</option>
                         <option {% if my.time_zone == 'Asia/Kathmandu' %}selected="selected"{% endif %}
                         value="Asia/Kathmandu">(UTC+5:45) Kathmandu</option>
                         <option {% if my.time_zone == 'Asia/Almaty' %}selected="selected"{% endif %}
                         value="Asia/Almaty">(UTC+6) Almaty</option>
                         <option {% if my.time_zone == 'Asia/Dhaka' %}selected="selected"{% endif %}
                         value="Asia/Dhaka">(UTC+6) Dhaka</option>
                         <option {% if my.time_zone == 'Asia/Novosibirsk' %}selected="selected"{% endif %}
                         value="Asia/Novosibirsk">(UTC+6) Novosibirsk</option>
                         <option {% if my.time_zone == 'Asia/Rangoon' %}selected="selected"{% endif %}
                         value="Asia/Rangoon">(UTC+6:30) Rangoon</option>
                         <option {% if my.time_zone == 'Asia/Bangkok' %}selected="selected"{% endif %}
                         value="Asia/Bangkok">(UTC+7) Bangkok</option>
                         <option {% if my.time_zone == 'Asia/Jakarta' %}selected="selected"{% endif %}
                         value="Asia/Jakarta">(UTC+7) Jakarta</option>            
                         <option {% if my.time_zone == 'Asia/Krasnoyarsk' %}selected="selected"{% endif %}
                         value="Asia/Krasnoyarsk">(UTC+7) Krasnoyarsk</option>
                         <option {% if my.time_zone == 'Asia/Hong_Kong' %}selected="selected"{% endif %}
                         value="Asia/Hong_Kong">(UTC+8) Hong Kong</option>            
                         <option {% if my.time_zone == 'Asia/Irkutsk' %}selected="selected"{% endif %}
                         value="Asia/Irkutsk">(UTC+8) Irkutsk</option>            
                         <option {% if my.time_zone == 'Asia/Kuala_Lumpur' %}selected="selected"{% endif %}
                         value="Asia/Kuala_Lumpur">(UTC+8) Kuala Lumpur</option>
                         <option {% if my.time_zone == 'Australia/Perth' %}selected="selected"{% endif %}
                         value="Australia/Perth">(UTC+8) Perth</option>             
                         <option {% if my.time_zone == 'Asia/Singapore' %}selected="selected"{% endif %}
                         value="Asia/Singapore">(UTC+8) Singapore</option>            
                         <option {% if my.time_zone == 'Asia/Taipei' %}selected="selected"{% endif %}
                         value="Asia/Taipei">(UTC+8) Taipei</option>
                         <option {% if my.time_zone == 'Asia/Ulaanbaatar' %}selected="selected"{% endif %}
                         value="Asia/Ulaanbaatar">(UTC+8) Ulaan Bataar</option>            
                         <option {% if my.time_zone == 'Asia/Urumqi' %}selected="selected"{% endif %}
                         value="Asia/Urumqi">(UTC+8) Urumqi</option>            
                         <option {% if my.time_zone == 'Asia/Seoul' %}selected="selected"{% endif %}
                         value="Asia/Seoul">(UTC+9) Seoul</option>
                         <option {% if my.time_zone == 'Asia/Tokyo' %}selected="selected"{% endif %}
                         value="Asia/Tokyo">(UTC+9) Tokyo</option>            
                         <option {% if my.time_zone == 'Asia/Yakutsk' %}selected="selected"{% endif %}
                         value="Asia/Yakutsk">(UTC+9) Yakutsk</option>            
                         <option {% if my.time_zone == 'Australia/Adelaide' %}selected="selected"{% endif %}
                         value="Australia/Adelaide">(UTC+9:30) Adelaide</option>
                         <option {% if my.time_zone == 'Australia/Darwin' %}selected="selected"{% endif %}
                         value="Australia/Darwin">(UTC+9:30) Darwin</option>
                         <option {% if my.time_zone == 'Australia/Brisbane' %}selected="selected"{% endif %}
                         value="Australia/Brisbane">(UTC+10) Brisbane</option>            
                         <option {% if my.time_zone == 'Pacific/Guam' %}selected="selected"{% endif %}
                         value="Pacific/Guam">(UTC+10) Guam</option>
                         <option {% if my.time_zone == 'Australia/Hobart' %}selected="selected"{% endif %}
                         value="Australia/Hobart">(UTC+10) Hobart</option>
                         <option {% if my.time_zone == 'Australia/Melbourne' %}selected="selected"{% endif %}
                         value="Australia/Melbourne">(UTC+10) Melbourne</option>            
                         <option {% if my.time_zone == 'Pacific/Port_Moresby' %}selected="selected"{% endif %}
                         value="Pacific/Port_Moresby">(UTC+10) Port Moresby</option>
                         <option {% if my.time_zone == 'Australia/Sydney' %}selected="selected"{% endif %}
                         value="Australia/Sydney">(UTC+10) Sydney</option>
                         <option {% if my.time_zone == 'Asia/Vladivostok' %}selected="selected"{% endif %}
                         value="Asia/Vladivostok">(UTC+10) Vladivostok</option>            
                         <option {% if my.time_zone == 'Asia/Magadan' %}selected="selected"{% endif %}
                         value="Asia/Magadan">(UTC+10) Magadan</option>
                         <option {% if my.time_zone == 'Pacific/Auckland' %}selected="selected"{% endif %}
                         value="Pacific/Auckland">(UTC+12) Auckland</option>     
                         <option {% if my.time_zone == 'Pacific/Fiji' %}selected="selected"{% endif %}
                         value="Pacific/Fiji">(UTC+12) Fiji</option>            
                         <option {% if my.time_zone == 'Asia/Kamchatka' %}selected="selected"{% endif %}
                         value="Asia/Kamchatka">(UTC+12) Kamchatka</option>
        		    </select>
        		</section>
            </div>
        </section>
        <section class="sec_profile">
            <div class="form_container">
                <section>
        			<label>Picture... later</label>
                	<img src="{{ url_for('static', filename='image/avatar/default.jpg') }}" alt="">
        		</section>
        		<section>
        			<label>Name</label>
        			<input name="name" type="text" maxlength="100" value="{{ my.name or '' }}" class="wid50">
        		</section>
        		<section>
        			<label>Location</label>
        			<input name="location" type="text" maxlength="100" value="{{ my.location or '' }}" class="wid50">
        		</section>
        		<section>
        			<label>Web</label>
        			<input name="web" type="text" maxlength="200" value="{{ my.web or '' }}" class="wid50">
        		</section>
        		<section style="position:relative">
        			<label>Description</label>
        			<textarea name="description" maxlength="200" onkeyup="return textareaLenght(this, 'word-des')"  
        			cols="10" rows="3">{{ my.description or '' }}</textarea>
        		    <span id="word-des" class="word-count">200</span>
        		</section>
            </div>
        </section>
        <section class="sec_password">
            <div class="form_container">
                <section>
                    <label>Password</label>
                    <input type="password" name="password" value="" tabindex="3" maxlength="20" />
                </section>
                <section>
                    <label>Check Password</label>
                    <input type="password" name="password_check" value="" tabindex="4" maxlength="20" />
                </section>
            </div>
        </section>
        <div>
            <button tabindex="200" type="submit" class="button button-submit">Create user</button>
        </div>
    </form>
{% endblock %}
{% block javascript_file %}
<script src="{{ url_for('static', filename='js/users.js') }}"></script>
{% endblock %}