@import "compass";
@import "partials/palette";

/* =============================================================================
Footer style
============================================================================= */
footer {
  border-top: 4px double #DEDEDE;
  margin: 30px auto 0;
  padding: 20px;
  text-align: center;
  width: 800px;

  p {
  	opacity: 0.6;
    filter: alpha(opacity = 60); 

    span.set_language {
    	margin: 0 10px 0 0;
    	i {
    		margin: 0 4px 0 0;
    	}
    	&:hover {
				color:#D5913C;
			  cursor: pointer;
			  text-decoration:underline;
			}
    }
	} 
}