<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ g.lan }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ g.lan }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ g.lan }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ lan }}"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	
	<title>{{ g.admin.title }} {% block title %} {% endblock %}</title>
	<meta name="description" content="{% block description %} {% endblock %}">
	
	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
	{% block css %}{% endblock %}

    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="{{ url_for('static', filename='js/libs/modernizr-1.7.min.js') }}"></script>
</head>
<body>
    <header>
        <section class="head_left">
		    <img src="{{ url_for('static', filename='admin/logo/admin_logo_mini.png') }}" alt="{{ g.admin.name }}" />
        </section>
        <section class="head_right">
            <ul>
                <li>
                    <a>{{ g.my['username'] }}</a>
                    <ul class="header_menu">
                        <li><a href="{{ url_for('admin.profile') }}" title="" >{{ g.admin.profile }}</a></li>
                        <li><a href="{{ url_for('content.home') }}" title="" >{{ g.admin.web_site }}</a></li>
                    </ul>
                </li>
                <li>
                    <a href="{{ url_for('admin.logout') }}" title="" >{{ g.admin.logout }}</a>
                </li>
            </ul>
        </section>
    </header><!-- header -->
    
    <nav>
        <ul>
    		<li>
            	<p><a href="{{ url_for('admin.dashboard') }}" title="" >Dashboard</a></p>
            </li>
            <li>
                <p><a href="{{ url_for('pages.overview') }}" title="" >Pages</a></p>
            </li>
            {% if g.my['rank'] == 10 %}
            <li>
                <p><a href="{{ url_for('users.overview') }}" title="" >Users</a></p>
            </li>
            <li>
                <p><a href="{{ url_for('languages.overview') }}" title="" >Languages</a></p>
            </li>
            <li>
                <p><a href="{{ url_for('hash_table.overview') }}" title="" >Hash Table</a></p>
            </li>
            {% endif %}
        </ul>
    </nav><!-- nav -->
    
    <div class="content">
        {% block content %}
    	{% endblock %}
    </div><!-- .content -->

    <!-- JavaScript at the bottom for fast page loading -->
    <script src="{{ url_for('static', filename='js/tiramisu-0.1.6-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    {% block javascript_file %}
	{% endblock %}

</body>
</html>
