<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	{% block head %}
	<title>Home | Bombolone</title>
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}" />
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    <header>
		<img src="{{ url_for('static', filename='admin/logo/admin_logo_mini.png') }}" alt="Web Site" />
        <ul>
            <li>
                <a>{{ g.my['username'] }}</a>
                <ul class="header_menu">
                    <li><a href="{{ url_for('admin.profile') }}" title="" >Modifica profilo</a></li>
                    <li><a href="{{ url_for('content.home') }}" title="" >Sito Web</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('admin.logout') }}" title="" >Esci</a></li>
        </ul>
    </header><!-- header -->
    
    <nav>
        <ul>
    		<li>
            	<p><a href="{{ url_for('admin.dashboard') }}" title="" >Dashboard</a></p>
            </li>
            <li>
                <p><a href="{{ url_for('pages.overview') }}" title="" >Pages</a></p>
            </li>
            {% if g.my['rank'] == 10 %}
            <li>
                <p><a href="{{ url_for('users.overview') }}" title="" >Users</a></p>
            </li>
            <li>
                <p><a href="{{ url_for('languages.overview') }}" title="" >Languages</a></p>
            </li>
            <li>
                <p><a href="{{ url_for('hash_table.overview') }}" title="" >Hash Table</a></p>
            </li>
            {% endif %}
        </ul>
    </nav><!-- nav -->
    
    <div class="content">
        {% block content %}
    	{% endblock %}
    </div><!-- .content -->
    
    <script src="{{ url_for('static', filename='js/tiramisu-0.1.5-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
    {% block javascript_file %}
	{% endblock %}
</body>
</html>
