<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Home | Bombolone</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div class="login">
		<h1><a href="{{ url_for('login') }}" title="">Login</a></h1>
		{% if g.status %}<div id="{{ g.status }}">{{ g.message[lan] }}</div>{% endif %}
		<form name="login" action="{{ url_for('login') }}" method="post">
            <p>
                <label>Username</label>
                <input type="text" name="username"  value="" size="50" tabindex="10" />
            </p>
            <p>
                <label>Password</label>
                <input type="password" name="password" value="" size="50" tabindex="20" />
            </p>
            <p class="submit">
                <input type="submit" name="submit" class="button" value="Entra" tabindex="100" />
            </p>
        </form>
	</div>
</body>
</html>
