{% extends "admin/index.html" %}
{% block head %}
    <title>Pages content</title>
{% endblock %}
{% block content %}
    <h2>Pages content</h2>
    <form action="#" method="post">
        <ul class="menu_languages">
            <li class="section_one">Italiano</li>
            <li class="section_two">English</li>
        </ul>
        <section class="one">
            <div class="form_container">
                <section>
                    <label>Page name</label>
                    <input type="text" name="name" value="{{ page['name'] }}" tabindex="1" maxlength="20" />
                </section>
                <section>
                    <label>Page title</label>
                    <input type="text" name="title_it" value="{{ page['title']['it'] }}" tabindex="2" maxlength="200" />
                </section>
                <br />
                <br />
                {% for i, x in enumerate(page['content']['it']) %}
                <section class="label_form section_num_{{ i }}">
                    <label>{{ x['label'] }}</label>
                    <input type="text" name="label_it_{{ i }}" value="{{ x['value'] }}" 
                    tabindex="{{ (i+2) }}" class="label_it_{{ i }}_1" />
                    
                    <textarea rows="4" cols="50" name="label_it_{{ i }}" 
                    tabindex="{{ (i+2) }}" class="label_it_{{ i }}_2" style="display:none">{{ x['value'] }}</textarea>
                    
                    <input type="file" name="label_it_{{ i }}" tabindex="{{ (i+2) }}" 
                    class="label_it_{{ i }}_3" style="display:none" />
                    
                    <select class="label_it_{{ i }}_0">
                        <option value="{{ i }}_1">text</option>
                        <option value="{{ i }}_2">textarea</option>
                        <option value="{{ i }}_3">image</option>
                    </select>
                </section>
                {% endfor %}
            </div>
        </section>
        <section class="two">
            <div class="form_container">
                <section>
                    <label>Page title</label>
                    <input type="text" name="title_en" value="{{ page['title']['en'] }}" tabindex="2" maxlength="200" />
                </section>
                {% for i, x in enumerate(page['content']['en']) %}
                <section>
                    <label>{{ x['label'] }}</label>
                    <input type="text" name="label_en_{{ i }}" value="{{ x['value'] }}" tabindex="{{ (i+2) }}" />
                </section>
                {% endfor %}
            </div>
        </section>
        <div>
            <button tabindex="200" type="submit" class="submit">
                <span>Update page</span>
            </button>
        </div>
    </form>
{% endblock %}
{% block javascript_file %}
<script src="{{ url_for('static', filename='js/pages.js') }}"></script>
{% endblock %}