{% extends "admin/index.html" %}
{% block head %}
    <title>Pages</title>
{% endblock %}
{% block content %}
    <h2>Pages</h2>
    <table class="table_items">
    	<thead>
    		<tr>	
    			<th style="width:30%;">Name</th>
    			<th style="width:30%;">Url</th>
    			<th style="width:30%;">_id</th>
    		</tr>
    	</thead>
    	<tfoot>
    		<tr>
    			<td colspan="2"></td>
    		</tr>
    	</tfoot>
    	<tbody>
    		{% for x in pages %}
    		<tr>
    			<td><a href="{{ admin }}/pages/{{ str(x['_id']) }}/">{{ x['name'] }}</a></td>
    			<td>{{ x['url']['en'] }}</td>
    			<td>{{ x['_id'] }}</td>
    		</tr>
    		{% endfor %}
    	</tbody>
    </table>
{% endblock %}
