{% extends "base.html" %}

{% block content %}
<div>
	<p class="intro">
		{{ content.par_num_1 }} <br />
		<a href="http://flask.pocoo.org/">Flask</a>, <a href="http://www.mongodb.org/">MongoDB</a>, 
		<a href="http://coffeescript.org/">Coffeescript</a>, <a href="http://angularjs.org">AngularJS</a>, 
		<a href="http://jquery.com">jQuery</a>, <a href="http://sass-lang.com">Sass</a> and
		<a href="http://html5boilerplate.com/">h5bp</a>.
	</p>
	<p class="intro">{{ content.par_num_2 }}</p>
</div>
{% endblock %}