{% extends "base.html" %}

{% block title %} home title  {% endblock %}
{% block description %} home description  {% endblock %}

{% block content %}
<div>
	<p class="intro">
		Bombolone is a tasty Content Management System for Python based on 
		<a href="http://flask.pocoo.org/">Flask</a>, <a href="http://www.mongodb.org/">MongoDB</a>, 
		<a href="http://coffeescript.org/">Coffeescript</a>, <a href="http://angularjs.org">AngularJS</a>, 
		<a href="http://jquery.com">jQuery</a>, <a href="http://sass-lang.com">Sass</a> and
		<a href="http://html5boilerplate.com/">h5bp</a>.
	</p>
	<p class="intro">It's designed to be a simple, flexible toolset for projects of any size.</p>
</div>
{% endblock %}