{% extends "index.html" %}

{% block head %}
<title>Bombolone | Page Not Found</title>
<meta name="description" content="{{ description }}" />
{% endblock %}

{% block main %}
    <article>
        <h1>Not found</h1>
        <div>
            <p>Sorry, but the page you were trying to view does not exist.</p>
            <p>It looks like this was the result of either:</p>
            <ul>
                <li>a mistyped address</li>
                <li>an out-of-date link</li>
            </ul>
        </div>
        <script>
            var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),
            GOOG_FIXURL_SITE = location.host;
        </script>
        <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
    </article>
{% endblock %}