{% extends "admin/index.html" %}
{% block head %}
    <title>Pages</title>
{% endblock %}
{% block content %}
    <h2>Pages</h2>
    {% if g.my['rank'] == 10 %}
    <a href="{{ admin }}/pages/new/" title="" class="button">Add new page</a>
    <table class="table_items">
    	<thead>
    		<tr>	
    			<th style="width:30%;">Name</th>
    			<th style="width:30%;">Url</th>
    			<th style="width:30%;">_id</th>
    			<th style="width:10%;">Delete</th>
    		</tr>
    	</thead>
    	<tfoot>
    		<tr>
    			<td colspan="4"></td>
    		</tr>
    	</tfoot>
    	<tbody>
    		{% for x in pages %}
    		<tr class="item_{{ str(x['_id']) }}">
    			<td><a href="{{ admin }}/pages/{{ str(x['_id']) }}/">{{ x['name'] }}</a></td>
    			<td>{{ x['url']['en'] }}</td>
    			<td><a href="{{ admin }}/pages/{{ str(x['_id']) }}/">{{ x['_id'] }}</a></td>
    			<td><span class="remove_item item_{{ str(x['_id']) }}">remove page</span></td>
    		</tr>
    		{% endfor %}
    	</tbody>
    </table>
    {% else %}
    <table class="table_items">
    	<thead>
    		<tr>	
    			<th style="width:100%;">Name</th>
    		</tr>
    	</thead>
    	<tfoot>
    		<tr>
    			<td colspan="1"></td>
    		</tr>
    	</tfoot>
    	<tbody>
    		{% for x in pages %}
    		<tr>
    			<td><a href="{{ admin }}/pages/{{ str(x['_id']) }}/">{{ x['name'] }}</a></td>
    		</tr>
    		{% endfor %}
    	</tbody>
    </table>
    {% endif %}
{% endblock %}
{% block javascript_file %}
<script src="{{ url_for('static', filename='js/pages_overview.js') }}"></script>
{% endblock %}