{% extends "admin/index.html" %}

{% block head %}
    <title>{{ g.pages.edit_page }}</title>
{% endblock %}


{% block content_right %}
<form action="{{ url_for('pages.update', _id=_id) }}" enctype="multipart/form-data" class="pages_table_tools" method="post">
    
    <div class="content_right row-fluid"> 
        <legend>{{ g.pages.edit_page }}<small>id: {{ page._id }}</small></legend>
        {% if status %}<div class="{{ status }}"><a class="close">×</a>{{ message }}</div>{% endif %}
        <div class="control-group">
            <input type="text" name="name" class="input-xlarge" value="{{ page['name'] }}" 
            placeholder="{{ g.pages.label_name }}" maxlength="20" />
        </div>
        <div class="control-group">
            <input type="text" name="from" value="{{ page['from'] }}" class="span4" placeholder="{{ g.pages.label_from }}" maxlength="20" />
            <input type="text" name="import" value="{{ page['import'] }}" class="span4" placeholder="{{ g.pages.label_import }}" maxlength="20" />
            <p class="help-block">{{ g.pages.help_import }}</p>
        </div>
        <div class="control-group form-horizontal">
            <span>templates/pages/</span>
            <input type="text" name="file" class="span3 input-little" 
            value="{{ page['file'] }}" maxlength="200" style="margin: 0 2px;" />.html
            <p class="help-block">{{ g.pages.help_file_templates }}</p>
        </div>
    </div><!-- .content_right -->
    
    <div class="control-group" style="margin-top:15px;text-align:right">
        <div class="span2 dropdown-lng"  style="margin-left:0">
            <a class="button dropdown-toggle button-lng" data-toggle="dropdown" href="#">
                {{ language }}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for code, name in language_name %}
                <li class="{{ code }}_lan {% if g.lan == code %}active{% endif %}">
                    <a>{{ name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <span class="pages_add_label button button-blu">{{ g.admin.add_field }}</span>
    </div><!-- .control-group -->
    
    {% for code, name in language_name %}
    <div class="section_{{ code }} content_right row-fluid" style="margin-top:-8px;padding-top:18px;{% if code != lan %}display:none{% endif %}">
        <div class="control-group form-horizontal">
            <span>{{ path }}/</span>
            <input type="text" name="url_{{ code }}" class="span6 input-little" 
            value="{{ page['url'][code] }}" maxlength="200" style="margin-left:4px" />
            <p class="help-block">{{ g.pages.help_url }}</p>
        </div>
        <div class="control-group">
            <input type="text" name="title_{{ code }}" class="span8" value="{{ page['title'][code] }}" 
            placeholder="{{ g.pages.label_title }}" maxlength="20" class="span8" />
        </div>
        <div class="control-group">
            <textarea rows="4" cols="50" name="description_{{ code }}" class="span8" 
            placeholder="{{ g.pages.label_description }}">{{ page['description'][code] }}</textarea>
        </div>
    </div><!-- .content_right -->
    {% endfor %}
    
    <div class="content_right row-fluid" style="margin-top:15px;padding-top:18px;"> 
        {% for code, name in language_name %}
        <div class="section_{{ code }} pages_field" {% if code != g.lan %}style="display:none"{% endif %}>
            {% for i, label in enumerate(page['content'][code]) %}
                {% include 'modules/pages/label.html' %}
            {% endfor %}
            <div class="pages_{{ code }}"></div>
        </div>
        {% endfor %}
        <div class="form-actions">
            <button tabindex="200" type="submit" class="button button-submit">{{ g.admin.save }}</button>
        </div>
    </div><!-- .content_right -->
    
</form><!-- .pages_table_tools -->
{% endblock %}

{% block js_module_files %}
<script src="{{ '/static/js/%s' % js_version['pages'] }}"></script>
{% endblock %}

{% block js_code %}
<script type="text/javascript">
    t.get(d).ready(function() {
        
        // List with the name of any code language
        b.pages.code_languages = [{% for code in language_name %} '{{ code[0] }}', {% endfor %}]
        // Dictionary with the name of any code language
        b.pages.name_languages = { {% for code, name in language_name %} '{{ code }}' : '{{ name }}', {% endfor %} 'last' : '' }
        
        b.pages.number_of_label = {{ len_of_label }};
        
        b.pages.init_language();
        b.pages.init_change_label();
        b.pages.init_add_label();
        b.pages.init_remove_label();
        b.pages.init_change_name_label();
    })
</script>
{% endblock %}

