<div class="label_pages control-group section_num_{{ i }} row-fluid">
    <span class="span1">Label :</span>
    <input type="text" name="label_name_{{ code }}_{{ i }}" value="{{ label['label'] }}" 
    class="span3 name_label label_{{ code }}_name_{{ i }} input-little" />
    
    <span class="span1">Alias :</span>
    <input type="text" name="alias_name_{{ code }}_{{ i }}" value="{{ label['alias'] }}" 
    class="span4 alias_label input-little" />
    
    <span class="pages_remove_label button button-red span2 button-little" id="{{ i }}">- Remove label</span>
    
    <input type="text" name="label_{{ code }}_{{ i }}" value="{{ label['value'] }}"
    style="display:inline" class="span9 label_{{ i }}_1 pages_tool" />
    
    <textarea rows="4" cols="50" name="label_{{ code }}_{{ i }}" 
    class="span9 label_{{ i }}_2 pages_tool" >{{ label['value'] }}</textarea>
    
    <img src="">
    <input type="hidden" name="label_{{ code }}_{{ i }}_hidden" value="{{ label['value'] }}">
    <input type="file" name="file_upload_{{ code }}_{{ i }}" class="span9 label_{{ i }}_3 pages_tool"/>
    
    <select class="label_{{ i }}_0" name="type_{{ i }}">
        <option value="1" {% if page.label[i] == 1 %}selected="selected"{% endif %}>text</option>
        <option value="2" {% if page.label[i] == 2 %}selected="selected"{% endif %}>textarea</option>
        <option value="3" {% if page.label[i] == 3 %}selected="selected"{% endif %}>image</option>
    </select>
</div>