/*
 * Bombolone
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 *
 * HTML5 display definitions ================================================ */
/* line 8, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 12, ../sass/reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 18, ../sass/reset.scss */
audio:not([controls]), [hidden] {
  display: none;
}

/* Base ===================================================================== */
/* line 24, ../sass/reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 29, ../sass/reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/reset.scss */
button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* Link ===================================================================== */
/* line 45, ../sass/reset.scss */
a:focus {
  outline: thin dotted;
}
/* line 48, ../sass/reset.scss */
a:hover, a:active {
  outline: 0;
}

/* Typography =============================================================== */
/* line 55, ../sass/reset.scss */
b, strong {
  font-weight: bold;
}

/* line 59, ../sass/reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 63, ../sass/reset.scss */
dfn {
  font-style: italic;
}

/* line 67, ../sass/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 76, ../sass/reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 82, ../sass/reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 88, ../sass/reset.scss */
q {
  quotes: none;
}
/* line 90, ../sass/reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 96, ../sass/reset.scss */
small {
  font-size: 85%;
}

/* line 100, ../sass/reset.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 107, ../sass/reset.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 115, ../sass/reset.scss */
sub {
  bottom: -0.25em;
}

/* Lists ==================================================================== */
/* line 121, ../sass/reset.scss */
ul, ol, dd {
  margin: 0;
  padding: 0;
}

/* line 126, ../sass/reset.scss */
ul, ol {
  padding: 0;
  margin: 0 0 9px 25px;
}

/* line 131, ../sass/reset.scss */
ul {
  margin-left: 0;
  list-style: none;
}

/* line 136, ../sass/reset.scss */
li {
  line-height: 18px;
}

/* Embedded content ========================================================= */
/* line 142, ../sass/reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 148, ../sass/reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 152, ../sass/reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 159, ../sass/reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 166, ../sass/reset.scss */
button, input {
  line-height: normal;
}

/* line 170, ../sass/reset.scss */
label, button, input, select, textarea {
  font: 13px/20px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 178, ../sass/reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 186, ../sass/reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 191, ../sass/reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 199, ../sass/reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* Tables =================================================================== */
/* line 205, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 210, ../sass/reset.scss */
td {
  vertical-align: top;
}

/* Forms ==================================================================== */
/* line 216, ../sass/reset.scss */
form {
  margin: 0;
}

/* line 220, ../sass/reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
