/*
 * Bombolone
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 *
 * Main layout style ======================================================== */
/*
 * Bombolone
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 *
 * HTML5 display definitions ================================================ */
/* line 8, ../sass/reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 12, ../sass/reset.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 18, ../sass/reset.scss */
audio:not([controls]), [hidden] {
  display: none;
}

/* Base ===================================================================== */
/* line 24, ../sass/reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 29, ../sass/reset.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
  font-family: sans-serif;
  color: #222;
}

/* line 37, ../sass/reset.scss */
button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* Link ===================================================================== */
/* line 45, ../sass/reset.scss */
a:focus {
  outline: thin dotted;
}
/* line 48, ../sass/reset.scss */
a:hover, a:active {
  outline: 0;
}

/* Typography =============================================================== */
/* line 55, ../sass/reset.scss */
b, strong {
  font-weight: bold;
}

/* line 59, ../sass/reset.scss */
blockquote {
  margin: 1em 40px;
}

/* line 63, ../sass/reset.scss */
dfn {
  font-style: italic;
}

/* line 67, ../sass/reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 76, ../sass/reset.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 82, ../sass/reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 88, ../sass/reset.scss */
q {
  quotes: none;
}
/* line 90, ../sass/reset.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 96, ../sass/reset.scss */
small {
  font-size: 85%;
}

/* line 100, ../sass/reset.scss */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 107, ../sass/reset.scss */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 115, ../sass/reset.scss */
sub {
  bottom: -0.25em;
}

/* Lists ==================================================================== */
/* line 121, ../sass/reset.scss */
ul, ol, dd {
  margin: 0;
  padding: 0;
}

/* line 126, ../sass/reset.scss */
ul, ol {
  padding: 0;
  margin: 0 0 9px 25px;
}

/* line 131, ../sass/reset.scss */
ul {
  margin-left: 0;
  list-style: none;
}

/* line 136, ../sass/reset.scss */
li {
  line-height: 18px;
}

/* Embedded content ========================================================= */
/* line 142, ../sass/reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 148, ../sass/reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 152, ../sass/reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 159, ../sass/reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 166, ../sass/reset.scss */
button, input {
  line-height: normal;
}

/* line 170, ../sass/reset.scss */
label, button, input, select, textarea {
  font: 13px/20px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 178, ../sass/reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 186, ../sass/reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 191, ../sass/reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 199, ../sass/reset.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* Tables =================================================================== */
/* line 205, ../sass/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 210, ../sass/reset.scss */
td {
  vertical-align: top;
}

/* Forms ==================================================================== */
/* line 216, ../sass/reset.scss */
form {
  margin: 0;
}

/* line 220, ../sass/reset.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 11, ../sass/style.scss */
body {
  background-color: #efefef;
  color: #424242;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
}

/* line 20, ../sass/style.scss */
.content {
  margin: 34px auto 5px;
  min-height: 500px;
  padding: 30px 0 15px;
  width: 940px;
}

/* line 28, ../sass/style.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* Typography ============================================================================== */
/* line 38, ../sass/style.scss */
p {
  margin: 0 0 9px;
  font-size: 13px;
  line-height: 18px;
}
/* line 42, ../sass/style.scss */
p small {
  font-size: 11px;
  color: #999999;
}

/* line 48, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  color: #C6905C;
  text-rendering: optimizelegibility;
}

/* line 55, ../sass/style.scss */
h1 {
  font-size: 28px;
  line-height: 34px;
}
/* line 58, ../sass/style.scss */
h1 small {
  font-size: 16px;
}

/* line 63, ../sass/style.scss */
h2 {
  font-size: 20px;
  line-height: 34px;
}
/* line 66, ../sass/style.scss */
h2 small {
  font-size: 16px;
}

/* line 71, ../sass/style.scss */
h3 {
  font-size: 16px;
  line-height: 24px;
}
/* line 74, ../sass/style.scss */
h3 small {
  font-size: 13px;
}

/* line 79, ../sass/style.scss */
h4, h5 {
  line-height: 16px;
}

/* line 83, ../sass/style.scss */
h4 {
  font-size: 13px;
}
/* line 85, ../sass/style.scss */
h4 small {
  font-size: 11px;
}

/* line 90, ../sass/style.scss */
h5 {
  font-size: 11px;
}

/* line 94, ../sass/style.scss */
a {
  color: #C6905C;
  cursor: pointer;
  text-decoration: none;
}
/* line 98, ../sass/style.scss */
a:link, a:visited {
  color: #C6905C;
  cursor: pointer;
  text-decoration: none;
}
/* line 103, ../sass/style.scss */
a:hover {
  color: #262626;
  cursor: pointer;
  text-decoration: none;
}

/* line 111, ../sass/style.scss */
*::-moz-selection {
  background: #ffcc89;
  color: #222;
}
/* line 115, ../sass/style.scss */
*::selection {
  background: #ffcc89;
  color: #222;
}

/* Grid  =================================================================================== */
/* line 127, ../sass/style.scss */
.row {
  margin-left: -20px;
  *zoom: 1;
}
/* line 130, ../sass/style.scss */
.row:before {
  display: table;
  content: "";
}
/* line 133, ../sass/style.scss */
.row:after {
  display: table;
  content: "";
  clear: both;
}

/* line 138, ../sass/style.scss */
[class*="span"] {
  float: left;
  margin-left: 20px;
}

/* line 142, ../sass/style.scss */
.span1 {
  width: 60px;
}

/* line 145, ../sass/style.scss */
.span2 {
  width: 140px;
}

/* line 148, ../sass/style.scss */
.span3 {
  width: 220px;
}

/* line 151, ../sass/style.scss */
.span4 {
  width: 300px;
}

/* line 154, ../sass/style.scss */
.span5 {
  width: 380px;
}

/* line 157, ../sass/style.scss */
.span6 {
  width: 460px;
}

/* line 160, ../sass/style.scss */
.span7 {
  width: 540px;
}

/* line 163, ../sass/style.scss */
.span8 {
  width: 620px;
}

/* line 166, ../sass/style.scss */
.span9 {
  width: 700px;
}

/* line 169, ../sass/style.scss */
.span10 {
  width: 780px;
}

/* line 172, ../sass/style.scss */
.span11 {
  width: 860px;
}

/* line 175, ../sass/style.scss */
.span12 {
  width: 940px;
}

/* line 178, ../sass/style.scss */
.offset1 {
  margin-left: 100px;
}

/* line 181, ../sass/style.scss */
.offset2 {
  margin-left: 180px;
}

/* line 184, ../sass/style.scss */
.offset3 {
  margin-left: 260px;
}

/* line 187, ../sass/style.scss */
.offset4 {
  margin-left: 340px;
}

/* line 190, ../sass/style.scss */
.offset5 {
  margin-left: 420px;
}

/* line 193, ../sass/style.scss */
.offset6 {
  margin-left: 500px;
}

/* line 196, ../sass/style.scss */
.offset7 {
  margin-left: 580px;
}

/* line 199, ../sass/style.scss */
.offset8 {
  margin-left: 660px;
}

/* line 202, ../sass/style.scss */
.offset9 {
  margin-left: 740px;
}

/* line 205, ../sass/style.scss */
.offset10 {
  margin-left: 820px;
}

/* line 208, ../sass/style.scss */
.offset11 {
  margin-left: 900px;
}

/* line 211, ../sass/style.scss */
.row-fluid {
  width: 100%;
  *zoom: 1;
}
/* line 214, ../sass/style.scss */
.row-fluid:before {
  display: table;
  content: "";
}
/* line 217, ../sass/style.scss */
.row-fluid:after {
  display: table;
  content: "";
  clear: both;
}
/* line 221, ../sass/style.scss */
.row-fluid > [class*="span"] {
  float: left;
  margin-left: 2.127659574%;
}
/* line 224, ../sass/style.scss */
.row-fluid > [class*="span"]:first-child {
  margin-left: 0;
}
/* line 226, ../sass/style.scss */
.row-fluid .span1 {
  width: 6.382978723%;
}
/* line 228, ../sass/style.scss */
.row-fluid .span2 {
  width: 14.89361702%;
}
/* line 230, ../sass/style.scss */
.row-fluid .span3 {
  width: 23.404255317%;
}
/* line 232, ../sass/style.scss */
.row-fluid .span4 {
  width: 31.914893614%;
}
/* line 234, ../sass/style.scss */
.row-fluid .span5 {
  width: 40.425531911%;
}
/* line 236, ../sass/style.scss */
.row-fluid .span6 {
  width: 48.93617020799999%;
}
/* line 238, ../sass/style.scss */
.row-fluid .span7 {
  width: 57.446808505%;
}
/* line 240, ../sass/style.scss */
.row-fluid .span8 {
  width: 65.95744680199999%;
}
/* line 242, ../sass/style.scss */
.row-fluid .span9 {
  width: 74.468085099%;
}
/* line 244, ../sass/style.scss */
.row-fluid .span10 {
  width: 82.97872339599999%;
}
/* line 246, ../sass/style.scss */
.row-fluid .span11 {
  width: 91.489361693%;
}
/* line 248, ../sass/style.scss */
.row-fluid .span12 {
  width: 99.99999998999999%;
}

/* Nav  ==================================================================================== */
/* line 253, ../sass/style.scss */
.nav {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
}
/* line 257, ../sass/style.scss */
.nav > li > a {
  display: block;
}
/* line 259, ../sass/style.scss */
.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

/* line 263, ../sass/style.scss */
.nav-list {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
}
/* line 267, ../sass/style.scss */
.nav-list > li > a {
  display: block;
  padding: 3px 15px;
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
/* line 273, ../sass/style.scss */
.nav-list .nav-header {
  display: block;
  padding: 3px 15px;
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999999;
  text-transform: uppercase;
}
/* line 284, ../sass/style.scss */
.nav-list > li + .nav-header {
  margin-top: 9px;
}
/* line 286, ../sass/style.scss */
.nav-list .active > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}
/* line 290, ../sass/style.scss */
.nav-list .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}
/* line 294, ../sass/style.scss */
.nav-list [class^="icon-"] {
  margin-right: 2px;
}

/* line 297, ../sass/style.scss */
.nav-tabs, .nav-pills {
  *zoom: 1;
}

/* line 300, ../sass/style.scss */
.nav-tabs:before, .nav-pills:before, .nav-tabs:after, .nav-pills:after {
  display: table;
  content: "";
}

/* line 304, ../sass/style.scss */
.nav-tabs:after, .nav-pills:after {
  clear: both;
}

/* line 307, ../sass/style.scss */
.nav-tabs > li, .nav-pills > li {
  float: left;
}

/* line 310, ../sass/style.scss */
.nav-tabs > li > a, .nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

/* line 316, ../sass/style.scss */
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
/* line 319, ../sass/style.scss */
.nav-tabs > li {
  margin-bottom: -1px;
}
/* line 321, ../sass/style.scss */
.nav-tabs > li > a {
  padding-top: 9px;
  padding-bottom: 9px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
/* line 328, ../sass/style.scss */
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
/* line 330, ../sass/style.scss */
.nav-tabs > .active > a {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
/* line 336, ../sass/style.scss */
.nav-tabs > .active > a:hover {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

/* line 344, ../sass/style.scss */
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* line 352, ../sass/style.scss */
.nav-pills .active > a {
  color: #ffffff;
  background-color: #0088cc;
}
/* line 355, ../sass/style.scss */
.nav-pills .active > a:hover {
  color: #ffffff;
  background-color: #0088cc;
}

/* line 359, ../sass/style.scss */
.nav-stacked > li {
  float: none;
}
/* line 361, ../sass/style.scss */
.nav-stacked > li > a {
  margin-right: 0;
}

/* line 364, ../sass/style.scss */
.nav-tabs.nav-stacked {
  border-bottom: 0;
}
/* line 367, ../sass/style.scss */
.nav-tabs.nav-stacked > li > a {
  background-color: #F5F5F5;
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 373, ../sass/style.scss */
.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
/* line 377, ../sass/style.scss */
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
/* line 381, ../sass/style.scss */
.nav-tabs.nav-stacked > li > a:hover {
  background-color: #ffffff;
  border-color: #ddd;
  z-index: 2;
}

/* line 387, ../sass/style.scss */
.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}
/* line 389, ../sass/style.scss */
.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}

/* line 393, ../sass/style.scss */
.nav-tabs.nav-stacked > .active > a {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
/* line 399, ../sass/style.scss */
.nav-tabs.nav-stacked > .active > a:hover {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
/* line 405, ../sass/style.scss */
.nav-tabs .dropdown-menu {
  margin-top: 1px;
  border-width: 1px;
}

/* line 409, ../sass/style.scss */
.nav-pills .dropdown-menu {
  margin-top: 1px;
  border-width: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 416, ../sass/style.scss */
.nav-tabs .dropdown-toggle .caret, .nav-pills .dropdown-toggle .caret {
  border-top-color: #0088cc;
  margin-top: 6px;
}

/* line 420, ../sass/style.scss */
.nav-tabs .dropdown-toggle:hover .caret, .nav-pills .dropdown-toggle:hover .caret {
  border-top-color: #005580;
}

/* line 423, ../sass/style.scss */
.nav-tabs .active .dropdown-toggle .caret, .nav-pills .active .dropdown-toggle .caret {
  border-top-color: #333333;
}

/* line 426, ../sass/style.scss */
.nav > .dropdown.active > a:hover {
  color: #000000;
  cursor: pointer;
}

/* line 430, ../sass/style.scss */
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

/* line 436, ../sass/style.scss */
.nav > .open.active > a:hover {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}
/* line 441, ../sass/style.scss */
.nav .open .caret, .nav .open.active .caret, .nav .open a:hover .caret {
  border-top-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* Header ================================================================================== */
/* line 448, ../sass/style.scss */
header {
  overflow: visible;
  margin-bottom: 18px;
  background-color: #584838;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5a493f), to(#584838));
  background-image: -webkit-linear-gradient(top, #5a493f, #584838);
  background-image: -moz-linear-gradient(top, #5a493f, #584838);
  background-image: -ms-linear-gradient(top, #5a493f, #584838);
  background-image: -o-linear-gradient(top, #5a493f, #584838);
  background-image: linear-gradient(top, #5a493f, #584838);
  border-bottom: 1px solid #dedede;
  border-top: 2px solid #E7A86B;
  height: 32px;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
/* line 467, ../sass/style.scss */
header nav {
  margin: 0 auto;
  width: 940px;
}
/* line 470, ../sass/style.scss */
header nav .intro li {
  float: left;
  margin: 3px 0 0 3px;
  padding: 0 0 0 10px;
}

/* line 475, ../sass/style.scss */
.btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
}
/* line 496, ../sass/style.scss */
.btn-navbar:hover, .btn-navbar:active, .btn-navbar.active, .btn-navbar.disabled, .btn-navbar[disabled] {
  background-color: #222222;
}
/* line 498, ../sass/style.scss */
.btn-navbar:active, .btn-navbar.active {
  background-color: #080808 \9;
}
/* line 500, ../sass/style.scss */
.btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
/* line 511, ../sass/style.scss */
.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}

/* line 514, ../sass/style.scss */
.nav-collapse.collapse {
  height: auto;
}

/* line 518, ../sass/style.scss */
header .brand {
  float: left;
  display: block;
  padding: 2px 20px 0;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #ffffff;
}
/* line 519, ../sass/style.scss */
header .brand:hover {
  text-decoration: none;
}
/* line 529, ../sass/style.scss */
header .navbar-text {
  margin-bottom: 0;
  line-height: 40px;
  color: #999999;
}
/* line 533, ../sass/style.scss */
header .navbar-text a:hover {
  color: #ffffff;
  background-color: transparent;
}
/* line 536, ../sass/style.scss */
header .btn {
  margin-top: 5px;
}
/* line 538, ../sass/style.scss */
header .btn-group {
  margin-top: 5px;
}
/* line 540, ../sass/style.scss */
header .btn-group .btn {
  margin-top: 0;
}
/* line 542, ../sass/style.scss */
header .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}
/* line 548, ../sass/style.scss */
header .pull-right {
  float: right;
}
/* line 551, ../sass/style.scss */
header .nav > li {
  display: block;
  float: left;
}
/* line 554, ../sass/style.scss */
header .nav > li > a {
  color: #FFFFFF;
  float: none;
  line-height: 23px;
  padding: 4px 10px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.125);
}
/* line 561, ../sass/style.scss */
header .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
}
/* line 565, ../sass/style.scss */
header .nav .active > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 571, ../sass/style.scss */
.navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 578, ../sass/style.scss */
header .divider-vertical {
  height: 40px;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #222222;
  border-right: 1px solid #333333;
}
/* line 585, ../sass/style.scss */
header .pull-right {
  margin: 0 0 0 10px;
}

/* line 588, ../sass/style.scss */
.header-tabs li {
  background-color: #EC943C;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ec943c), to(#e68b2b));
  background-image: -webkit-linear-gradient(top, #ec943c, #e68b2b);
  background-image: -moz-linear-gradient(top, #ec943c, #e68b2b);
  background-image: -ms-linear-gradient(top, #ec943c, #e68b2b);
  background-image: -o-linear-gradient(top, #ec943c, #e68b2b);
  background-image: linear-gradient(top, #ec943c, #e68b2b);
  border-bottom: 1px solid #cf7d2b;
  border-left: 1px solid #cf7d2b;
  border-right: 1px solid #cf7d2b;
  cursor: pointer;
  display: inline-block;
  float: left;
  font-weight: normal;
  margin: 0;
  text-align: right;
}
/* line 605, ../sass/style.scss */
.header-tabs li:hover {
  background-color: #AF7223;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ec943c), to(#d47e26));
  background-image: -webkit-linear-gradient(top, #ec943c, #d47e26);
  background-image: -moz-linear-gradient(top, #ec943c, #d47e26);
  background-image: -ms-linear-gradient(top, #ec943c, #d47e26);
  background-image: -o-linear-gradient(top, #ec943c, #d47e26);
  background-image: linear-gradient(top, #ec943c, #d47e26);
  border-color: #AF7223;
}

/* line 616, ../sass/style.scss */
header .pull-right li .dropdown-menu li {
  background: transparent;
  border: none;
  width: 100%;
}
/* line 620, ../sass/style.scss */
header .dropdown-menu {
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 625, ../sass/style.scss */
header .dropdown-menu:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}
/* line 635, ../sass/style.scss */
header .dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 10px;
}
/* line 645, ../sass/style.scss */
header .nav .dropdown-toggle .caret, header .nav .open.dropdown .caret {
  border-top-color: #ffffff;
}
/* line 647, ../sass/style.scss */
header .nav .active .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 650, ../sass/style.scss */
header .nav .open > .dropdown-toggle, header .nav .active > .dropdown-toggle, header .nav .open.active > .dropdown-toggle {
  background-color: transparent;
}
/* line 652, ../sass/style.scss */
header .nav .active > .dropdown-toggle:hover {
  color: #ffffff;
}
/* line 654, ../sass/style.scss */
header .pull-right .dropdown-menu {
  left: auto;
  min-width: 125px;
  right: 0;
}
/* line 658, ../sass/style.scss */
header .pull-right .dropdown-menu:before {
  left: auto;
  right: 12px;
}
/* line 661, ../sass/style.scss */
header .pull-right .dropdown-menu:after {
  left: auto;
  right: 13px;
}

/* Dropdown ================================================================================ */
/* line 667, ../sass/style.scss */
.dropdown-lng {
  position: relative;
  *zoom: 1;
  *margin-left: .3em;
}
/* line 671, ../sass/style.scss */
.dropdown-lng .button {
  position: relative;
  float: left;
}

/* line 676, ../sass/style.scss */
.button-group .dropdown-toggle:active, .button-group.open .dropdown-toggle {
  outline: 0;
}
/* line 678, ../sass/style.scss */
.button-group .dropdown-toggle {
  padding-left: 8px;
  padding-right: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  *padding-top: 5px;
  *padding-bottom: 5px;
}

/* line 687, ../sass/style.scss */
.dropdown-lng.open {
  *z-index: 1000;
}
/* line 689, ../sass/style.scss */
.dropdown-lng.open .dropdown-menu {
  display: block;
  margin-top: -4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/* line 695, ../sass/style.scss */
.dropdown-lng.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 702, ../sass/style.scss */
.button .caret {
  margin-left: 4px;
  margin-top: 10px;
}
/* line 705, ../sass/style.scss */
.button:hover .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 709, ../sass/style.scss */
.open.btn-group .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 713, ../sass/style.scss */
.button-primary .caret, .button-danger .caret, .button-info .caret, .button-success .caret {
  border-top-color: #ffffff;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

/* line 718, ../sass/style.scss */
.button-small .caret {
  margin-top: 4px;
}

/* line 721, ../sass/style.scss */
.dropdown {
  position: relative;
}

/* line 724, ../sass/style.scss */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: top;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #FFFFFF;
  opacity: 0.9;
  filter: alpha(opacity=90);
  content: "\2193";
}

/* line 739, ../sass/style.scss */
.dropdown .caret {
  margin-top: 8px;
  margin-left: 2px;
}
/* line 742, ../sass/style.scss */
.dropdown:hover .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 746, ../sass/style.scss */
.open.dropdown .caret {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 750, ../sass/style.scss */
.dropdown-menu {
  position: absolute;
  top: 120%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 100px;
  max-width: 220px;
  _width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
/* line 779, ../sass/style.scss */
.dropdown-menu a {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
/* line 787, ../sass/style.scss */
.dropdown-menu li > a:hover {
  color: #C6905C;
  text-decoration: none;
  background-color: #F5F5F5;
}
/* line 791, ../sass/style.scss */
.dropdown-menu .active > a {
  color: #C6905C;
  text-decoration: none;
  background-color: #F5F5F5;
}
/* line 795, ../sass/style.scss */
.dropdown-menu .active > a:hover {
  color: #C6905C;
  text-decoration: none;
  background-color: #F5F5F5;
}

/* line 800, ../sass/style.scss */
.dropdown.open {
  *z-index: 1000;
}
/* line 802, ../sass/style.scss */
.dropdown.open .dropdown-menu {
  display: block;
}

/* Table =================================================================================== */
/* line 807, ../sass/style.scss */
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 812, ../sass/style.scss */
.table {
  width: 100%;
  margin-bottom: 18px;
}
/* line 815, ../sass/style.scss */
.table th, .table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  border-top: 1px solid #ddd;
}
/* line 820, ../sass/style.scss */
.table th {
  font-weight: bold;
  vertical-align: bottom;
}
/* line 823, ../sass/style.scss */
.table td {
  vertical-align: top;
}
/* line 826, ../sass/style.scss */
.table thead:first-child tr th, .table thead:first-child tr td {
  border-top: 0;
}
/* line 828, ../sass/style.scss */
.table tbody + tbody {
  border-top: 2px solid #ddd;
}

/* line 832, ../sass/style.scss */
.table-condensed th, .table-condensed td {
  padding: 4px 5px;
}

/* line 835, ../sass/style.scss */
.table-bordered {
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 842, ../sass/style.scss */
.table-bordered th + th, .table-bordered td + td, .table-bordered th + td, .table-bordered td + th {
  border-left: 1px solid #ddd;
}
/* line 844, ../sass/style.scss */
.table-bordered thead:first-child tr:first-child th {
  border-top: 0;
}
/* line 847, ../sass/style.scss */
.table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}
/* line 849, ../sass/style.scss */
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
/* line 853, ../sass/style.scss */
.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
/* line 857, ../sass/style.scss */
.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
/* line 861, ../sass/style.scss */
.table-bordered thead:last-child tr:last-child th:last-child, .table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}

/* line 867, ../sass/style.scss */
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/* line 871, ../sass/style.scss */
span.remove_item {
  cursor: pointer;
  text-decoration: underline;
}
/* line 874, ../sass/style.scss */
span:hover.remove_item {
  color: red;
}

/* Form ==================================================================================== */
/* line 879, ../sass/style.scss */
form {
  margin: 0 0 18px;
}

/* line 882, ../sass/style.scss */
fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/* line 887, ../sass/style.scss */
label, input, button, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}

/* line 893, ../sass/style.scss */
label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}

/* line 898, ../sass/style.scss */
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 18px;
  font-size: 19.5px;
  line-height: 36px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #eee;
}
/* line 908, ../sass/style.scss */
legend small {
  color: #999999;
  font-size: 13px;
  margin: 0 0 0 24px;
}

/* line 913, ../sass/style.scss */
input, textarea, select, .uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 928, ../sass/style.scss */
label input, label textarea, label select {
  display: block;
}

/* line 932, ../sass/style.scss */
input[type="image"], input[type="checkbox"], input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  border: 0;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 944, ../sass/style.scss */
input[type="file"] {
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #ffffff;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 953, ../sass/style.scss */
input[type="button"], input[type="reset"], input[type="submit"] {
  width: auto;
  height: auto;
}

/* line 957, ../sass/style.scss */
select, input[type="file"] {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px;
}

/* line 962, ../sass/style.scss */
select {
  width: 220px;
  background-color: #ffffff;
}
/* line 965, ../sass/style.scss */
select[multiple], select[size] {
  height: auto;
}

/* line 968, ../sass/style.scss */
input[type="image"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 973, ../sass/style.scss */
textarea {
  height: auto;
}

/* line 976, ../sass/style.scss */
input[type="hidden"] {
  display: none;
}

/* line 979, ../sass/style.scss */
.radio, .checkbox {
  padding-left: 18px;
}

/* line 982, ../sass/style.scss */
.radio input[type="radio"], .checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}

/* line 987, ../sass/style.scss */
.controls > .radio:first-child, .controls > .checkbox:first-child {
  padding-top: 5px;
}

/* line 990, ../sass/style.scss */
.radio.inline, .checkbox.inline {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 995, ../sass/style.scss */
.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

/* line 999, ../sass/style.scss */
.controls > .radio.inline:first-child, .controls > .checkbox.inline:first-child {
  padding-top: 0;
}

/* line 1002, ../sass/style.scss */
input, textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

/* line 1012, ../sass/style.scss */
input:focus, textarea:focus {
  border-color: #E7A86B!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(226, 130, 35, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(226, 130, 35, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(226, 130, 35, 0.6);
  outline: 0;
  outline: thin dotted \9;
}

/* line 1021, ../sass/style.scss */
input[type="file"]:focus, input[type="checkbox"]:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 1029, ../sass/style.scss */
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 1037, ../sass/style.scss */
.input-mini {
  width: 60px;
}

/* line 1040, ../sass/style.scss */
.input-small {
  width: 90px;
}

/* line 1043, ../sass/style.scss */
.input-medium {
  width: 150px;
}

/* line 1046, ../sass/style.scss */
.input-large {
  width: 210px;
}

/* line 1049, ../sass/style.scss */
.input-xlarge {
  width: 270px;
}

/* line 1052, ../sass/style.scss */
.input-xxlarge {
  width: 530px;
}

/* line 1055, ../sass/style.scss */
input[class*="span"], select[class*="span"], textarea[class*="span"], .uneditable-input {
  float: none;
  margin-left: 0;
}

/* line 1059, ../sass/style.scss */
input.span1, textarea.span1 {
  width: 50px;
}

/* line 1062, ../sass/style.scss */
input.span2, textarea.span2 {
  width: 130px;
}

/* line 1065, ../sass/style.scss */
input.span3, textarea.span3 {
  width: 210px;
}

/* line 1068, ../sass/style.scss */
input.span4, textarea.span4 {
  width: 290px;
}

/* line 1071, ../sass/style.scss */
input.span5, textarea.span5 {
  width: 370px;
}

/* line 1074, ../sass/style.scss */
input.span6, textarea.span6 {
  width: 450px;
}

/* line 1077, ../sass/style.scss */
input.span7, textarea.span7 {
  width: 530px;
}

/* line 1080, ../sass/style.scss */
input.span8, textarea.span8 {
  width: 610px;
}

/* line 1083, ../sass/style.scss */
input.span9, textarea.span9 {
  width: 690px;
}

/* line 1086, ../sass/style.scss */
input.span10, textarea.span10 {
  width: 770px;
}

/* line 1089, ../sass/style.scss */
input.span11, textarea.span11 {
  width: 850px;
}

/* line 1092, ../sass/style.scss */
input.span12, textarea.span12 {
  width: 930px;
}

/* line 1095, ../sass/style.scss */
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
  background-color: #f5f5f5;
  border-color: #ddd;
  cursor: not-allowed;
}

/* line 1100, ../sass/style.scss */
.input-little {
  font-size: 12px;
  height: 13px;
  padding: 2px 3px 4px;
}

/* line 1105, ../sass/style.scss */
.uneditable-input {
  background-color: #FFFFFF;
  border-color: #EEEEEE;
  cursor: not-allowed;
  display: block;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.024) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.024) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.024) inset;
}

/* line 1114, ../sass/style.scss */
input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

/* line 1118, ../sass/style.scss */
input:focus:required:invalid:focus, textarea:focus:required:invalid:focus, select:focus:required:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}

/* line 1125, ../sass/style.scss */
.form-horizontal input, .form-horizontal textarea, .form-horizontal select, .form-horizontal .help-inline, .form-horizontal .uneditable-input {
  display: inline-block;
  margin-bottom: 0;
}

/* line 1129, ../sass/style.scss */
.form-actions {
  padding: 17px 20px 18px;
  margin-top: 18px;
  margin-bottom: 18px;
}

/* line 1134, ../sass/style.scss */
:-moz-placeholder, ::-webkit-input-placeholder {
  color: #999999;
}

/* line 1137, ../sass/style.scss */
.help-block {
  margin-top: 5px;
  margin-bottom: 0;
  color: #999999;
}

/* line 1142, ../sass/style.scss */
.help-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-bottom: 9px;
  vertical-align: middle;
  padding-left: 5px;
}

/* line 1150, ../sass/style.scss */
.control-group {
  margin-bottom: 9px;
}

/* line 1154, ../sass/style.scss */
.form-horizontal legend + .control-group {
  margin-top: 18px;
  -webkit-margin-top-collapse: separate;
}
/* line 1157, ../sass/style.scss */
.form-horizontal .control-group {
  margin-bottom: 18px;
  *zoom: 1;
}
/* line 1160, ../sass/style.scss */
.form-horizontal .control-group:before {
  display: table;
  content: "";
}
/* line 1163, ../sass/style.scss */
.form-horizontal .control-group:after {
  display: table;
  content: "";
  clear: both;
}
/* line 1167, ../sass/style.scss */
.form-horizontal .control-group > label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
/* line 1172, ../sass/style.scss */
.form-horizontal .controls {
  margin-left: 160px;
}
/* line 1174, ../sass/style.scss */
.form-horizontal .form-actions {
  padding-left: 160px;
}

/* line 1178, ../sass/style.scss */
.form-settings .control-group > label {
  width: 110px;
}
/* line 1180, ../sass/style.scss */
.form-settings .controls {
  margin-left: 130px;
}

/* Button ================================================================================== */
/* line 1185, ../sass/style.scss */
.button, a.button {
  background-color: #E4E4E4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#dedbd3));
  background-image: -webkit-linear-gradient(top, #e4e4e4, #dedbd3);
  background-image: -moz-linear-gradient(top, #e4e4e4, #dedbd3);
  background-image: -ms-linear-gradient(top, #e4e4e4, #dedbd3);
  background-image: -o-linear-gradient(top, #e4e4e4, #dedbd3);
  background-image: linear-gradient(top, #e4e4e4, #dedbd3);
  border: 1px solid #c7cdd3;
  color: #262626;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.125);
  display: inline-block;
  min-width: 50px;
  text-align: center;
  cursor: pointer;
  font: bold 12px/24px arial, helvetica, sans-serif;
  height: 24px;
  line-height: 24px;
  min-width: 50px;
  padding: 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -ms-transition: all 0.218s;
  -o-transition: all 0.218s;
  transition: all 0.218s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 1217, ../sass/style.scss */
.button:hover, a:hover.button {
  background-color: #cccece;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4), to(#cccece));
  background-image: -webkit-linear-gradient(top, #e4e4e4, #cccece);
  background-image: -moz-linear-gradient(top, #e4e4e4, #cccece);
  background-image: -ms-linear-gradient(top, #e4e4e4, #cccece);
  background-image: -o-linear-gradient(top, #e4e4e4, #cccece);
  background-image: linear-gradient(top, #e4e4e4, #cccece);
  border: 1px solid #CCCAC8;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.125);
  text-decoration: none;
  -webkit-transition: all 0.0s;
  -moz-transition: all 0.0s;
  -ms-transition: all 0.0s;
  -o-transition: all 0.0s;
  transition: all 0.0s;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* line 1237, ../sass/style.scss */
.button-blu, a.button-blu {
  background-color: #7C97C4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7c97c4), to(#768eb3));
  background-image: -webkit-linear-gradient(top, #7c97c4, #768eb3);
  background-image: -moz-linear-gradient(top, #7c97c4, #768eb3);
  background-image: -ms-linear-gradient(top, #7c97c4, #768eb3);
  background-image: -o-linear-gradient(top, #7c97c4, #768eb3);
  background-image: linear-gradient(top, #7c97c4, #768eb3);
  border: 1px solid #5f80b3;
  color: #fff!important;
  font-size: 13px;
  height: 23px;
  margin: 0 1.2em 0.4em 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.125);
}

/* line 1252, ../sass/style.scss */
.button-blu:hover, a.button-blu:hover {
  border: 1px solid #5e627d;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #6481ae;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7c97c4), to(#6481ae));
  background-image: -webkit-linear-gradient(top, #7c97c4, #6481ae);
  background-image: -moz-linear-gradient(top, #7c97c4, #6481ae);
  background-image: -ms-linear-gradient(top, #7c97c4, #6481ae);
  background-image: -o-linear-gradient(top, #7c97c4, #6481ae);
  background-image: linear-gradient(top, #7c97c4, #6481ae);
}

/* line 1264, ../sass/style.scss */
.button-red, a.button-red {
  background-color: #F25F54;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f25f54), to(#ec5643));
  background-image: -webkit-linear-gradient(top, #f25f54, #ec5643);
  background-image: -moz-linear-gradient(top, #f25f54, #ec5643);
  background-image: -ms-linear-gradient(top, #f25f54, #ec5643);
  background-image: -o-linear-gradient(top, #f25f54, #ec5643);
  background-image: linear-gradient(top, #f25f54, #ec5643);
  border: 1px solid #d54843;
  color: #fff!important;
  font-size: 13px;
  height: 23px;
  margin: 0 1.5em 1.2em 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.125);
}

/* line 1279, ../sass/style.scss */
.button-red:hover, a.button-red:hover {
  border: 1px solid #d42a0d;
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #da493e;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f25f54), to(#da493e));
  background-image: -webkit-linear-gradient(top, #f25f54, #da493e);
  background-image: -moz-linear-gradient(top, #f25f54, #da493e);
  background-image: -ms-linear-gradient(top, #f25f54, #da493e);
  background-image: -o-linear-gradient(top, #f25f54, #da493e);
  background-image: linear-gradient(top, #f25f54, #da493e);
}

/* line 1291, ../sass/style.scss */
.button-submit, a.button-submit {
  background-color: #EC943C;
  /* 1) 40   0123456789abcdef */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ec943c), to(#e68b2b));
  /* 2) 34 -6  */
  background-image: -webkit-linear-gradient(top, #ec943c, #e68b2b);
  background-image: -moz-linear-gradient(top, #ec943c, #e68b2b);
  background-image: -ms-linear-gradient(top, #ec943c, #e68b2b);
  background-image: -o-linear-gradient(top, #ec943c, #e68b2b);
  background-image: linear-gradient(top, #ec943c, #e68b2b);
  border: 1px solid #cf7d2b;
  /* 4) 11 -5 */
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.125);
  width: auto;
}

/* line 1307, ../sass/style.scss */
.button-submit:hover, a:hover.button-submit {
  border: 1px solid #ce5ef5;
  background-color: #d47e26;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ec943c), to(#d47e26));
  background-image: -webkit-linear-gradient(top, #ec943c, #d47e26);
  background-image: -moz-linear-gradient(top, #ec943c, #d47e26);
  background-image: -ms-linear-gradient(top, #ec943c, #d47e26);
  background-image: -o-linear-gradient(top, #ec943c, #d47e26);
  background-image: linear-gradient(top, #ec943c, #d47e26);
}

/* line 1317, ../sass/style.scss */
.button:active, a.button:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

/* line 1322, ../sass/style.scss */
.button-little {
  font-size: 12px;
  height: 18px;
  line-height: 19px;
}

/* line 1327, ../sass/style.scss */
.close {
  color: #000000;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  opacity: 0.2;
  text-shadow: 0 1px 0 #FFFFFF;
}
/* line 1335, ../sass/style.scss */
.close:hover {
  color: #000000;
  cursor: pointer;
  opacity: 0.4;
  text-decoration: none;
}

/* Thumbnails ============================================================================== */
/* line 1343, ../sass/style.scss */
.thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}
/* line 1347, ../sass/style.scss */
.thumbnails:before {
  display: table;
  content: "";
}
/* line 1350, ../sass/style.scss */
.thumbnails:after {
  display: table;
  content: "";
  clear: both;
}

/* line 1355, ../sass/style.scss */
.thumbnail {
  display: block;
  padding: 3px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* line 1367, ../sass/style.scss */
a.thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

/* line 1373, ../sass/style.scss */
.thumbnail > img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Message ================================================================================= */
/* line 1381, ../sass/style.scss */
.msg {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}
/* line 1391, ../sass/style.scss */
.msg .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

/* line 1397, ../sass/style.scss */
.msg-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

/* line 1402, ../sass/style.scss */
.msg-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

/* line 1407, ../sass/style.scss */
.msg-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}

/* line 1412, ../sass/style.scss */
.msg-hidden {
  display: none;
}

/* line 1415, ../sass/style.scss */
.check_remove {
  background-color: #FFF4C7;
  border: 1px solid #E5AD6B;
  font-size: 13px;
  line-height: 18px;
  padding: 16px;
  position: absolute;
  right: 35%;
  top: 40%;
  vertical-align: middle;
  width: 280px;
  z-index: 6000;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Content ================================================================================= */
/* line 1435, ../sass/style.scss */
.box {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  font-weight: normal;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* Footer ================================================================================== */
/* line 1446, ../sass/style.scss */
footer {
  border-top: 4px double #DEDEDE;
  margin: 30px auto 0;
  padding: 20px;
  text-align: center;
  width: 940px;
}
/* line 1452, ../sass/style.scss */
footer p {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

/* =============================================================================
   Media queries
============================================================================= */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
