@import "compass";
@import "partials/palette";

/* =============================================================================
Header style
============================================================================= */
header {
  width: 800px;
  margin: 40px auto 20px;
  text-align: center;
}