{% extends "admin/index.html" %}

{% block title %} {{ g.hash_table.title }} {% endblock %}
{% block description %}  {% endblock %}

{% block nav_active_5 %}class="active"{% endblock %}

{% block admin %}
<div ng-controller="HashTableCtrl">
  <h2>{{ g.hash_table.name }}</h2>
  <br />
  {% if my.rank < 15 %}
  <a href="/admin/hash_table/new/" title="" class="btn btn-primary">{{ g.hash_table.add_new_hash_map }}</a>
  {% endif %}
  <table table-admin table-type="hash-table" table-list="items_list" on-remove="remove"></table>
  {% include "error/loader.html" %}
</div>
{% endblock %}

{% block js_module_names %}
	'bombolone.controllers.hashTable',
{% endblock %}

{% block js_module_files %}
  "{{ '/static/js/%s' % js_version['admin/hash_table'] }}",
{% endblock %}
