{% extends "admin/index.html" %}
{% block head %}
    <title>{{ g.hash_table.title }}</title>
{% endblock %}
{% block content %}
    <h2>{{ g.hash_table.name }}</h2>
    <a href="{{ admin }}/hash_table/new/" title="" class="button">Add new document</a>
    <table class="table_items">
    	<thead>
    		<tr>	
    			<th style="width:30%;">Name document</th>
    			<th style="width:20%;">Number</th>
    			<th style="width:30%;">_id</th>
    			<th style="width:20%;">Remove</th>
    		</tr>
    	</thead>
    	<tfoot>
    		<tr>
    			<td colspan="4"></td>
    		</tr>
    	</tfoot>
    	<tbody>
    		{% for document in hash_table_list %}
    		<tr class="item_{{ str(document['_id']) }}">
    			<td><a href="{{ admin }}/hash_table/{{ str(document['_id']) }}/">{{ document['name'] }}</a></td>
    			<td>{{ len(document['value']) }}</td>
    			<td><a href="{{ admin }}/hash_table/{{ str(document['_id']) }}/">{{ document['_id'] }}</a></td>
    			<td><span class="remove_item item_{{ str(document['_id']) }}">remove document</span></td>
    		</tr>
    		{% endfor %}
    	</tbody>
    </table>
{% endblock %}
{% block javascript_file %}
<script src="{{ url_for('static', filename='js/hash_table_overview.js') }}"></script>
{% endblock %}
