{% extends "admin/index.html" %}
{% block head %}
    <title>New document in hash_table</title>
{% endblock %}
{% block content %}
    <h2>New document in hash_table</h2>
    <form action="{{ url_for('hash_table.new') }}" enctype="multipart/form-data" method="post" >
        <section class="form_container first_light">
            <section>
                <label class="width120">Document name</label>
                <input type="text" name="name" value="" tabindex="1" maxlength="20" />
            </section>
        </section>
        <section>
            <span class="button list_language_button">{{ g.lan }}</span>
            <ul class="list_language">
                {% for x in list_lan %}
                <li>{{ x }}</li>
                {% endfor %}
            </ul>
        </section>
        {% for x in list_lan %}
        <section class="section_{{ x }}" {% if x != g.lan %}style="display:none"{% endif %}>
            <div class="form_container">
                <span class="hash_add_label button button_right button-blu span_{{ x }}">+ Add new label</span>
            </div>
        </section>
        {% endfor %}
    </form>
{% endblock %}
{% block javascript_file %}
<script src="{{ url_for('static', filename='js/hash_table.js') }}"></script>
{% endblock %}