{% extends "admin/index.html" %}
{% block head %}
    <title>Document update</title>
{% endblock %}
{% block content %}
    <h2>Update hash_map</h2>
    
    <section class="hash_languages">
        <span class="button list_language_button">{{ language_check[g.lan] }}</span>
        <ul class="list_language">
            {% for code, name in language_check.iteritems() %}
            <li class="{{ code }}_lan {% if g.lan == code %}language_selected{% endif %}">{{ name }}</li>
            {% endfor %}
        </ul>
    </section>
    
    {% if status %}<div class="{{ status }}">{{ message }}</div>{% endif %}
    <form action="{{ url_for('hash_table.update', _id=hash_map['_id']) }}" class="hash_form" enctype="multipart/form-data" method="post">
        
        <section class="form_container first_light">
            <section>
                <label class="width120">Document name</label>
                <input type="text" name="name" value="{{ hash_map['name'] }}" tabindex="1" maxlength="20" />
            </section>
        </section>
        
        {% for code, name in language_check.iteritems() %}
        <h3 class="h3_{{ code }}" {% if code != g.lan %}style="display:none"{% endif %}>Document in {{ name }}</h3>  
        <section class="section_{{ code }}" {% if code != g.lan %}style="display:none"{% endif %}>
            <div class="form_container">
                
            {% for i, key in enumerate(sorted(hash_map.value)) %}
                <section class="section_num_{{ i }}"><label class="width120">Key/Value :</label>
                    <input type="text" name="label_name_{{ code }}_{{ i }}" value="{{ key }}" 
                    class="width180 name_key label_name_{{ code }}_{{ i }}">
                    <input type="text" name="label_{{ code }}_{{ i }}" value="{{ hash_map.value[key][code] }}" 
                    class="width200 label_{{ code }}_{{ i }}">
                    <span class="hash_remove_label button button_remove button-red num_{{ i }}">{{ g.admin.remove_field }}</span>
                </section>
            {% endfor %}
            
                <span class="hash_add_label button button_right button-blu span_{{ code }}">{{ g.admin.add_field }}</span>
            </div>
        </section>
        {% endfor %}
        
        <div>
            <button tabindex="200" type="submit" class="button button-submit">{{ g.admin.save }}</button>
        </div>
    </form>
{% endblock %}
{% block javascript_file %}
<script src="{{ url_for('static', filename='js/hash_table.js') }}"></script>
{% endblock %}