{% if view %}
{% extends "admin/index_hash_table.html" %}
{% else %}
{% extends "admin/index.html" %}
{% endif %}

{% block title %} Document update {% endblock %}

{% block admin %}
<div {% if not view %}ng-controller="HashTableCtrl"{% endif %}>
  <section class="row-fluid">
    <h2 class="span10"><span ng-bind="title"></span> <span ng-bind="hash_map.name"></span></h2>
    <div class="span2 dropdown-lng" ng-class="{open:menu_language==true}">
      <a class="button dropdown-toggle button-lng" ng-click="menu_reveal()">
        <span ng-bind="hash_table.language"></span>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        {% for code, name in g.all_the_languages %}
        <li ng-class="{active: '{{ code }}' == hash_table.lan}">
          <a ng-click="change_language('{{ code }}', '{{ name }}')">{{ name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <sction class="row-fluid hash_table_tools ng-cloak">
    {% include "error/message.html" %}
    <div class="form-horizontal">
      <fieldset>
        <div class="control-group">
          {% if view %}
          <span class="input-xlarge uneditable-input" ng-bind="hash_map.name"></span>
          {% else %}
          <input type="text" name="name" class="input-xlarge"
          placeholder="Name Map..." tabindex="1" maxlength="20" ng-model="hash_map.name" />
          {% endif %}
        </div>
        <div class="control-group legend">
          <span class="span3"><h3>Key</h3></span>
          <span class="span6"><h3>Value</h3></span>
          {% if not view %}
          <span class="hash_add_label button button_right button-blu" ng-click="add_label()" data-test="add_label">+ Add new label</span>
          {% endif %}
        </div>
        <div class="control-group row-fluid" ng-repeat="(key, value) in hash_map.value | orderBy:value.key">
          {% if view %}
          <span class="span3 uneditable-input" ng-bind="value.key"></span>
          {% else %}
          <input type="text" ng-model="value.key" class="span3 name_key" maxlength="30">
          {% endif %}
          <textarea ng-repeat="(code, val) in value" class="{% if view %}span9{% else %}span6{% endif %}" 
          ng-show="hash_table.lan == code" ng-model="value[hash_table.lan]"
          data-test="value-[[ $index ]]"></textarea>
          {% if not view %}
          <span class="hash_remove_label button button_remove button-red span2" 
          ng-click="remove_label(key)" data-test="remove_label_[[ $index ]]">- Remove label</span>
          {% endif %}
          <p class="help-block" ng-if="hash_table.lan != 'en'">en : <span ng-bind="value.en"></span></p>
        </div>
        
        <div class="form-actions">
          <button class="button button-submit" ng-click="new()" 
          ng-hide="update" data-test="create">Create</button>
          <button class="button button-submit" ng-click="save()" 
          ng-show="update" data-test="save">{{ g.admin.save }}</button>
        </div>
      </fieldset>
    </div>
  </section>
</div>
{% endblock %}

{% block js_module_names %}
  'bombolone.controllers.hashTable',
{% endblock %}

{% block js_module_files %}
  "{{ '/static/js/%s' % js_version['admin/hash_table'] }}",
{% endblock %}
