<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ g.lan }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ g.lan }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ g.lan }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ g.lan }}"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	
    {% block head %}
	<title>Bombolone | {{ title }}</title>
	<meta name="description" content="{{ description }}">
	{% endblock %}
	
	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	{% block css %}{% endblock %}

    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <script src="{{ url_for('static', filename='js/libs/modernizr-1.7.min.js') }}"></script>
</head>
<body>
    
    <header>
        {% block header %}{% endblock %}
    </header>
    
    <div class="main">
	    {% block main %}{% endblock %}
	</div>
	
	<footer>
	    {% block footer %}{% endblock %}
    </footer>
    
    <!-- JavaScript at the bottom for fast page loading -->
	<script src="{{ url_for('static', filename='js/tiramisu-0.1.6-min.js') }}"></script>
	{% block js %}{% endblock %}
	
	<!-- Asynchronous Google Analytics snippet. -->
	<script>
	</script>
</body>
</html>
