<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    {% block head %}
	<title>Bombolone | {{ title }}</title>
	<meta name="description" content="{{ description }}" />
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ path+'/'+lan+'/' }}" title="">Home</a></li>
                <li><a href="{{ '/'+lan+'/'+pages['page_2']['url'][lan] }}/" title="">{{ pages['page_2']['title'][lan] }}</a></li>
                <li><a href="{{ '/'+lan+'/'+pages['page_3']['url'][lan] }}/" title="">{{ pages['page_3']['title'][lan] }}</a></li>
                <li><a href="{{ '/'+lan+'/'+pages['page_4']['url'][lan] }}/" title="">{{ pages['page_4']['title'][lan] }}</a></li>
                <li><a href="{{ '/'+lan+'/'+pages['page_5']['url'][lan] }}/" title="">{{ pages['page_5']['title'][lan] }}</a></li>
            </ul>
        </nav>
    </header>
    <section>
	{% block content %}
	{% endblock %}
	</section>
	<footer>
	    <p>© 2012 Bombolone Web Site </p>
	    <p>
	        <a href="{{ path+'/'+lan+'/' }}" title="">Home</a> |
	        <a href="{{ '/'+lan+'/'+pages['page_2']['url'][lan] }}/" title="">{{ pages['page_2']['title'][lan] }}</a> | 
	        <a href="{{ '/'+lan+'/'+pages['page_3']['url'][lan] }}/" title="">{{ pages['page_3']['title'][lan] }}</a> | 
	        <a href="{{ '/'+lan+'/'+pages['page_4']['url'][lan] }}/" title="">{{ pages['page_4']['title'][lan] }}</a> | 
	        <a href="{{ '/'+lan+'/'+pages['page_5']['url'][lan] }}/" title="">{{ pages['page_5']['title'][lan] }}</a>
	    </p>
	    <p>
	        <a href="{{ url['it'] }}" title="Bombolone | ">
                <img src="{{ layout }}/flag/it.png" alt="Sito in Italiano" />Sito in Italiano
            </a>
            <br />     
            <a href="{{ url['en'] }}" title="Bombolone | ">
                <img src="{{ layout }}/flag/gb.png" alt="Web site in English" />Web site in English
            </a>
	    </p>
    </footer>
	<script src="{{ url_for('static', filename='js/tiramisu-0.1.5-min.js') }}"></script>
</body>
</html>
