{% extends "base.html" %}
{% block header %}
<nav>
    <ul>
        <li><a href="{{ path }}" title="">Home</a></li>
        <li><a href="{{ urls['page_2'] }}/" title="">{{ titles['page_2'] }}</a></li>
        <li><a href="{{ urls['page_3'] }}/" title="">{{ titles['page_3'] }}</a></li>
        <li><a href="{{ urls['page_4'] }}/" title="">{{ titles['page_4'] }}</a></li>
        <li><a href="{{ urls['page_5'] }}/" title="">{{ titles['page_5'] }}</a></li>
    </ul>
</nav>
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
<p>© 2012 Bombolone Web Site </p>
<p>
    <a href="{{ path }}" title="">Home</a> |
    <a href="{{ urls['page_2'] }}/" title="">{{ titles['page_2'] }}</a> | 
    <a href="{{ urls['page_3'] }}/" title="">{{ titles['page_3'] }}</a> | 
    <a href="{{ urls['page_4'] }}/" title="">{{ titles['page_4'] }}</a> | 
    <a href="{{ urls['page_5'] }}/" title="">{{ titles['page_5'] }}</a>
</p>
<p>
    {% if url %}
    <a href="{{ url['it'] }}" title="Bombolone | ">
        <img src="{{ layout }}/flag/it.png" alt="Sito in Italiano" />Sito in Italiano
    </a>
    <br />     
    <a href="{{ url['en'] }}" title="Bombolone | ">
        <img src="{{ layout }}/flag/gb.png" alt="Web site in English" />Web site in English
    </a>
    {% else %}
    <a href="{{ path }}/it/" title="Bombolone | ">
        <img src="{{ layout }}/flag/it.png" alt="Sito in Italiano" />Sito in Italiano
    </a>
    <br />     
    <a href="{{ path }}/en/" title="Bombolone | ">
        <img src="{{ layout }}/flag/gb.png" alt="Web site in English" />Web site in English
    </a>
    {% endif %}
</p>
{% endblock %}