 {% extends "modules/settings/index.html" %}


{% block title %} User profile {% endblock %}
{% block description %}  {% endblock %}

{% block nav_active_2 %}class="active"{% endblock %}

{% block settings %}
<form action="{{ url_for('settings.profile') }}" enctype="multipart/form-data" method="post" >
    <div class="form-horizontal form-settings">
        <fieldset>
            <legend>Profile</legend>
            {% if status %}<div class="{{ status }}"><a class="close">×</a>{{ message }}</div>{% endif %}
            {% include "modules/users/upload_image.html" %}
            {% include "modules/users/profile.html" %}
            <div class="form-actions">
                <button tabindex="200" type="submit" class="button button-submit">{{ g.admin.save }}</button>
            </div>
        </fieldset>
    </div><!-- .form-horizontal -->
</form>
{% endblock %}
{% block js_content_files %}
<script src="{{ '/static/js/%s' % js_version['users'] }}"></script>
{% endblock %}