@import "compass";
@import "partials/palette";

/* =============================================================================
Header style
============================================================================= */
header {
  overflow: visible;
  margin-bottom: 18px;
  background-color: #584838;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5a493f), to(#584838));
  background-image: -webkit-linear-gradient(top, #5a493f, #584838);
  background-image: -moz-linear-gradient(top, #5a493f, #584838);
  background-image: -ms-linear-gradient(top, #5a493f, #584838);
  background-image: -o-linear-gradient(top, #5a493f, #584838);
  background-image: linear-gradient(top, #5a493f, #584838);
  border-bottom: 1px solid #dedede;
  border-top: 2px solid #E7A86B;
  height: 32px;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  nav {
    margin: 0 auto;
    width: 940px;
    .intro li {
      float: left;
      margin: 3px 0 0 3px;
      padding: 0 0 0 10px; 
    } 
  }

  .brand {
    &:hover {
      text-decoration: none; 
    }
    float: left;
    display: block;
    padding: 2px 20px 0;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    color: #ffffff; 
  }
  .navbar-text {
    margin-bottom: 0;
    line-height: 40px;
    color: #999999;
    a:hover {
      color: #ffffff;
      background-color: transparent; 
    } 
  }
  .btn {
    margin-top: 5px; 
  }
  .btn-group {
    margin-top: 5px;
    .btn {
      margin-top: 0; 
    } 
  }
  .nav {
    position: relative;
    left: 0;
    display: block;
    float: left;
    margin: 0 10px 0 0; 
  }
  .pull-right {
    float: right; 
  }
  .nav {
    > li {
      display: block;
      float: left;
      > a {
        color: #FFFFFF;
        float: none;
        line-height: 23px;
        padding: 4px 10px;
        text-decoration: none;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.125);
        &:hover {
          background-color: transparent;
          color: #ffffff;
          text-decoration: none; 
        } 
      } 
    }
    .active > a {
      color: #ffffff;
      text-decoration: none;
      background-color: #222222;
      background-color: rgba(0, 0, 0, 0.5); 
    }
  }
  .divider-vertical {
    height: 40px;
    width: 1px;
    margin: 0 9px;
    overflow: hidden;
    background-color: #222222;
    border-right: 1px solid #333333; 
  }
  .pull-right {
    margin: 0 0 0 10px; 
  } 
}

.btn-navbar {
  display: none;
  float: right;
  padding: 7px 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.075);
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    background-color: #222222; }
  &:active, &.active {
    background-color: #080808 \9; }
  .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    background-color: #f5f5f5;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    + .icon-bar {
      margin-top: 3px; } } }

.nav-collapse.collapse {
  height: auto; }

.navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5); }

