<!doctype html>
<html lang="{{ lan }}">
<head>
    <meta charset="utf-8">
    
    {% block head %}
    <title>Bombolone | {% block title %} {% endblock %}</title>
    <meta name="description" content="{% block description %} {% endblock %}">
    {% endblock %}
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <link rel="stylesheet" href="/static/css/style.css?4">
    {% block css %}{% endblock %}
    
    <script src="/static/js/libs/modernizr-1.7.min.js"></script>
</head>
<body>
    
    <header>
        {% block header %}{% endblock %}
    </header>
    
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    
    <footer>
        {% block footer %}{% endblock %}
    </footer>
    
    {% if my %}
    <!-- In admin page load Tiramisu library -->
    <script src="{{ '/static/js/%s' % js_version['tiramisu'] }}"></script>
    {% endif %}
    
    <!-- JavaScript at the bottom for fast page loading -->
    <script src="{{ '/static/js/%s' % js_version['app'] }}"></script>
    {% block js_files %}{% endblock %}
    {% block js_code %}{% endblock %}
    
    <!-- Asynchronous Google Analytics snippet. -->
    <script>
    </script>
</body>
</html>
