{% extends "admin/settings/index.html" %}


{% block title %} User profile {% endblock %}
{% block description %}  {% endblock %}

{% block nav_active_2 %}class="active"{% endblock %}

{% block settings %}
<div class="form-horizontal form-settings" ng-controller="UsersCtrl">
  <fieldset>
    <legend>Account</legend>
    {% include "error/message.html" %}
    {% include "admin/users/account.html" %}
    <div class="form-actions">
      <button tabindex="200" ng-click="update_account()" data-test="submit"
      class="button button-submit">{{ g.users.save }}</button>
    </div>
  </fieldset>
</div><!-- .form-horizontal -->
{% endblock %}

{% block js_names %}
  'bombolone.controllers.users',
{% endblock %}

{% block js_files %}
  "{{ '/static/js/%s' % js_version['controllers/users'] }}",
{% endblock %}

{% block js_data %}
<script>
page["user"] = {
  _id: "{{ data.user._id }}",
  username: "{{ data.user.username }}",
  email: "{{ data.user.email }}",
  rank: "{{ data.user.rank }}",
  lan: "{{ data.user.lan }}",
  time_zone: "{{ data.user.time_zone }}",
  name: "{{ data.user.name }}",
  location: "{{ data.user.location }}",
  web: "{{ data.user.web }}",
  description: "{{ data.user.description }}",
  image_show: "{{ data.user.image_show }}",
  status: "{{ data.user.status }}"
}
</script>
{% endblock %}